<div data-section-id="{{ section.id }}" data-section-type="footer-section">
  <footer class="site-footer">
    
    
    
  
      
      
     
      
      <style>{


  }
        
        

  /* Create three equal columns that floats next to each other */
  .column2 {
      float: left;
      width:20%;
      padding-bottom:10px;
      padding-left:10px;
      padding-right:10px;
  


  }
        .column2 a{font-size:13px}
         .column2 p1{font-size:13px;color:gray}
        
        .huawei img {
    float: right;
    /* padding: 4px; */
    width: 35.5%;
    padding-top: 10px;
    padding-right: 4px;
}
  

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
        

  @media screen and (max-width:600px) {
      .column2 {
          width: 100%;
       
         
        
      }
    
      footer.site-footer {
    height: 940px;
}
    
    .huawei img {
    float: right;
    /* padding: 4px; */
    width: 29.5%;
    padding-top: 10px;
    padding-right: 4px;
    margin-right: 21px;
}

    .column2 .apple img {margin-right:0px;margin-left:50px}
  
  
  }
        
                @media only screen and (max-width:480px) {
.huawei img {
    float: right;
    /* padding: 4px; */
    width: 31.5%;
    padding-top: 10px;
    padding-right: 4px;
    margin-right: 21px;
}
}
        
        @media only screen and (min-width:770px) {
          
    .column2 #social2 {
          top: 0px;
      position: relative;
    float: none !important;
    margin-top: 4px;
    /* display: inline-block; */
    /* display: initial; */
      
}
          
          
          


  
}
        
        @media (min-width: 1280px) and (max-width: 1390px) {
  
 .huawei img {
    float: right;
    /* padding: 4px; */
    width: 40.5%;
    padding-top: 10.5px;
    padding-right: 5px;
}
  
}
        
        
         @media only screen and (min-width: 1025px) and (max-width: 1280px) {
           
    .huawei img {
    float: right;
    /* padding: 4px; */
    width: 46.5% !important;
    padding-top: 10px;
    padding-right: 5px;
}
           
           
           
           
           
           
         }
        



 
  #bh2 {
    text-align:center;
    font-size:18px;
    color:white;
    font-family: arial;
    border-bottom:solid 0px gray
  }
        
    #custom-h2 {
    text-align:center;
    font-size:18px;
    color:white;
    font-family: arial;
    border-bottom:solid 0px gray;
    margin-top: 10px;
  }
     .column2 li {
       color:gray
     }
      .column2 li:hover{
/*         color:cornflowerblue */
           color:#fff;
      }
        .column2 p1:hover {
/*           color:cornflowerblue */
             color:#fff;
        }
   
     #dpay{height:50px;
    width:100px;}
    .column2 #social2{float:none;margin-top:15px;opacity: 0.3;}

  
  .songapp {float:right;margin-bottom:30px;
       }   
   
          .apple img{position:absolute;right:155px;margin-top:40px;
               
                  }
          
           .googlep img{position:absolute;right:155px;margin-top:70px;
                   
              
            
                    
                 }
        
        
        
  /* GRAND VIDEOKE */
        
        #s-38eb115d-0297-437c-8ff8-cf87449fe846 {
    min-height: 50px;
    display: none;
}
        
        .shogun-root {
    transform: scale(1);
    display: none;
}
          /* END */
        
        
/*      #soundbar span.label.sold-out {
    display: none;
}
        
#karaoke-machines-for-sale-in-the-philippines-platinum-karaoke span.label.sold-out {
 display: none; 
}
 */
        
        
        
        footer.site-footer {
          height: 340px !important;
          
        }
        
  
</style>

<div class="column2">
<h2 id="bh2">Quick Link</h2>
<ul>
<a href="/pages/about-platinum-karaoke"style="text-decoration:none;" ><li>About Platinum Karoke</li></a>
<a href="https://platinumkaraoke-ph.myshopify.com/pages/music-and-updates" style="text-decoration:none;" ><li>Music And Updates</li></a>
<a href="https://platinumkaraoke-ph.myshopify.com/collections/website-promo" style="text-decoration:none;" ><li>Promo</li></a>
  <a href="https://www.platinumkaraoke.com/blogs/platinum-karaoke-blog" style="text-decoration:none;" ><li>Blog</li></a>
  </ul>
  
  <div id ="social2">
   <a href="https://www.facebook.com/ThePlatinumKaraoke/" target="_blank">
		<img src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Facebook_194929-footer.png?2553406752440973870" height="30px" width="30px">          
   </a>
   
   <a href="https://www.instagram.com/theplatinumkaraoke/" target="_blank">
     <img src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Intsagram_194923-footer.png?2553406752440973870" height="30px" width="30px">
   </a>
   
   <a href="https://twitter.com/PlatinumKRK" target="_blank">
     <img src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Twitter_194909-footer.png?2553406752440973870" height="30px" width="30px">
   </a>
   
  	<a href="https://www.youtube.com/c/PlatinumKaraokeOfficial" target="_blank">
     <img src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_YouTube_194904-footer.png?2553406752440973870"  height="30px" width="30px">
   </a>

    <a href="https://www.tiktok.com/@platinumkaraokeph" target="_blank">
     <img src="https://cdn.shopify.com/s/files/1/2581/7224/files/tiktok-footer.png?v=1662443202"  height="30px" width="30px">
   </a>
      </div>    
  
 
</div>
   
<div class="column2">
  <h2 id="bh2"> Products</h2>
  <ul>
	<a href="https://www.platinumkaraoke.com/collections/karaoke-system"style="text-decoration:none;" ><li>Karaoke System</li></a>
	<a href="https://www.platinumkaraoke.com/collections/cd"style="text-decoration:none;" ><li>CD'S</li></a>
	<a href="https://www.platinumkaraoke.com/collections/amplifier"style="text-decoration:none;" ><li>Amplifier</li></a>
    <a href="https://www.platinumkaraoke.com/collections/micropohone"style="text-decoration:none;" ><li>Micropohone</li></a>
     <a href="https://www.platinumkaraoke.com/collections/soundbar"style="text-decoration:none;" ><li>Soundbar</li></a>
    <a href="https://www.platinumkaraoke.com/collections/speakers"style="text-decoration:none;" ><li>Speakers</li></a>
    <a href="https://www.platinumkaraoke.com/collections/accessesories"style="text-decoration:none;" ><li>Accessesories</li></a>
  </ul>
  
      </div>
      

<div class="column2">
  <h2 id="bh2">Office Address</h2>
	<ul>
      <li><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/location.png?170290"  height="15px" width="15px">&nbsp;<a href="https://www.google.com/maps/place/Vismay+International+Corporation/@14.508359,121.041438,15z/data=!4m5!3m4!1s0x0:0x52398405e67e4365!8m2!3d14.508359!4d121.041438" target="_blank"> <p1>Bldg. 2 Sunyo Compound, Veterans Center, Taguig City 1630</p1></a></li>  
  	</ul>
  <h2 id="custom-h2">Office Hours</h2>
		<ul>
          <li>
            <p1>Monday to Friday</br>
09:00 am to 05:00 pm (PH Standard Time)</p1>
          	</li>
       </ul> 
  
  
    </div>
     <div class="column2">
  <h2 id="bh2">Technical Concerns</h2>
  <ul>
    <li><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/phone.png?11169375775445555336"  height="15px" width="15px">&nbsp;<p1>(02) 8866-1162 LOC 118</p1></li>


<!--     <li>  <img class="custom-icn" src="https://cdn.shopify.com/s/files/1/2581/7224/files/skype.png?17896052050360277667"  height="15px" width="15px"><p1> (+63) 977-378-9692</p1></li> -->
  <li>   <img class="custom-icn" src="https://cdn.shopify.com/s/files/1/2581/7224/files/viber.png?17896052050360277667" height="15px" width="15px">
     <img class="custom-icn" src="https://cdn.shopify.com/s/files/1/2581/7224/files/whatsapp.png?17896052050360277667" height="15px" width="15px">
    			<p1> (+63) 933-434-3772
    			</p1></li>
   <li>  <img src="https://cdn.shopify.com/s/files/1/2581/7224/files/globe.png?1969500541153058105"  height="15px" width="15px"><p1> &nbsp;(+63) 917-843-3053</p1></li>
   <li>  <img src="https://cdn.shopify.com/s/files/1/2581/7224/files/smart.png?1969500541153058105"  height="15px" width="15px"><p1>&nbsp;(+63) 939-249-7210</p1></li>
   <li><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/email.png?11169375775445555336"  height="15px" width="15px"><a href="mailto:services@platinumkaraoke.com"> &nbsp;<p1>services@platinumkaraoke.com</p1></a></li>
   
  </ul>
       
       <h2 id="custom-h2">Sales Inquiries</h2>
<ul>
  <li ><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/phone.png?11169375775445555336"  height="15px" width="15px">&nbsp;<p1>(02) 8866-1162 LOC 111 </p1>&nbsp;&nbsp;</li>
  <li><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/mobile.png?11169375775445555336"  height="15px" width="15px"><p1>&nbsp; (+63) 917-591-4263</p1></li>
   <li><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/email.png?11169375775445555336"  height="15px" width="15px">&nbsp;<a href="mailto:onlinesales@vismayintlcorp.com"><p1>onlinesales@vismayintlcorp.com</p1></a></li>
  </ul>
       
</div>


<div class="column2">
        <div class="offer-email">
             
              {% include 'newsletter-subscribe', subscribe_source: 'footer' %}
           
 
  
  <div class="songapp">
<img src="https://cdn.shopify.com/s/files/1/2581/7224/files/digital_songbook.png?14339516088236053642 " height="110px" width="100px">
 <a href="https://play.google.com/store/apps/details?id=com.platinumkaraoke.digitalsongbook" target="_blank"> 
    </a></div>
   <a href="https://play.google.com/store/apps/details?id=com.platinumkaraoke.digitalsongbook"> 
   
   <div class="googlep">
          <img src="https://cdn.shopify.com/s/files/1/2581/7224/files/googleplay-logo.png?14339516088236053642 " height="90px" width="90px"></a>
  </a> </div>

   <div class="apple">
            <a href="https://itunes.apple.com/ph/app/the-platinum-karaoke/id658194590?mt=8" target="_blank">
          <img src="https://cdn.shopify.com/s/files/1/2581/7224/files/apple-Store-logo.png?1148314495844876158 " height="90px" width="90px"></a></div>

       <div class="huawei">
<!--          https://appgallery.cloud.huawei.com/uowap/index.jsp?appName=Platinum+Digital+Songbook&logo=https%3A%2F%2Fappimg2.dbankcdn.com%2Fhwmarket%2Ffiles%2Fapplication%2Ficon144%2F65%2Fcf3e20e1022b4b4dab1acec2ed66384e.png&desc=Huawei+AppGallery#/detailApp/C101422141?source=appshare&subsource=C101422141&locale=en_US -->
            <a href="https://appgallery.huawei.com/app/C101422141" target="_blank">
          <img src="https://cdn.shopify.com/s/files/1/2581/7224/files/HUWAEI-APP-GALLERY-LOGO.png?v=1585646583" height="90px" width="90px"></a></div>    
  </div>
</div>


  
 
    
 
      
  
  </footer>


{% schema %}
{
  "name": "Footer",
  "class": "footer",
  "max_blocks": 4,
  "settings": [
    {
      "type": "radio",
      "id": "payment_icons",
      "label": "Payment icons",
      "options": [
        { "value": "hidden", "label": "Hidden" },
        { "value": "color", "label": "Color" },
        { "value": "bw", "label": "Black and white" }
      ],
      "default": "color"
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Text",
          "default": "Footer menu"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Learn more about us"
        },
        {
          "type": "link_list",
          "id": "footer_linklist",
          "label": "Menu",
          "default": "footer"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Text",
          "default": "Newsletter"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Subscribe to be the first to hear about our exclusive offers and latest arrivals."
        }
      ]
    },
    {
      "type": "contact",
      "name": "Contact",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Text",
          "default": "Contact us"
        },
        {
          "type": "checkbox",
          "id": "show_contact",
          "label": "Show contact information",
          "default": true
        },
        {
          "type": "text",
          "id": "phone",
          "label": "Phone number",
          "default": "1.877.555.9300"
        },
        {
          "type": "text",
          "id": "contact_text",
          "label": "Contact text"
        },
        {
          "type": "url",
          "id": "contact_link",
          "label": "Contact link"
        },
        {
          "type": "richtext",
          "id": "address",
          "label": "Address",
          "default": "<p></p>"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "label": "Show social icons",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}
