<div class="gryffeditor">
<div data-label="Text Block"> <div class="elm text-edit"><div class="main-container">
<div class="main-container">
<h1 style="text-align: center;">OUR STORES</h1>
<h2 style="text-align: center;">SM STORES</h2>
<table>
<thead>
<tr>
<th>Store Name</th>
<th>Appliance Center</th>
<th>Department Store</th>
<th>Hypermarket</th>
<th>Supermarket</th>
<th>Direction</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Savemore Tanay</strong></td>
<td> </td>
<td> </td>
<td> </td>
<td>Savemore</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+SaveMore/@14.4954028,121.2897913,17.26z/data=!4m5!3m4!1s0x3397ea3b81ff8137:0x747d54ea41473a88!8m2!3d14.4953946!4d121.2914604?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Aura</strong></td>
<td>Astroplus</td>
<td> </td>
<td> </td>
<td> </td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/SM+Aura+Premier/@14.5514236,121.0482866,1799m/data=!3m1!1e3!4m5!3m4!1s0x3397c8ed130da79f:0x94c0149c71482dbc!8m2!3d14.546748!4d121.0545499" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Bacoor</strong></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/Prestige+-+SM+City+Bacoor+Branch/@14.414943,120.9288006,13z/data=!4m8!1m2!2m1!1ssm+bacoor!3m4!1s0x3397cd88222986e7:0xc3b69272c4bcc79b!8m2!3d14.445048!4d120.950793?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Baguio</strong></td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+Accessories/@16.408723,120.5970113,794m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3391a142502e9c77:0x557fb6c39765cdd8!8m2!3d16.408723!4d120.5992?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Bacolod</strong></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+City+Bacolod/@10.6710253,122.9421114,814m/data=!3m2!1e3!4b1!4m5!3m4!1s0x33aed1d5e3262191:0xe27a78f6af427add!8m2!3d10.6710253!4d122.9443001?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Baliuag</strong></td>
<td> </td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+City+Baliwag/@14.9601687,120.8881644,800m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3396fffc3e746373:0xf4fceca6767d98f5!8m2!3d14.9601687!4d120.8903531?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Batangas</strong></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/SM+City+Batangas/@13.755695,121.0668187,17z/data=!3m1!4b1!4m5!3m4!1s0x33bd05488f881e3b:0x14272ac954047ac2!8m2!3d13.7556898!4d121.0690074" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM BF Parañaque</strong></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+City+BF/@14.4576299,121.03069,17z/data=!3m1!4b1!4m5!3m4!1s0x3397ce3560405f83:0xa13624672e2b7edb!8m2!3d14.4576299!4d121.0328787?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Bicutan</strong></td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+Accessories/@14.486973,121.0411723,17z/data=!3m1!4b1!4m5!3m4!1s0x3397cf051470efb5:0xc5698f639aacfe68!8m2!3d14.486973!4d121.043361?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Cabanatuan</strong></td>
<td> </td>
<td> </td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+City+Cabanatuan/@15.4768352,120.9524869,3192m/data=!3m1!1e3!4m8!1m2!2m1!1ssm+cabanatuan!3m4!1s0x3396d795db663855:0x74adb00ab5ea6ce!8m2!3d15.4659207!4d120.9545816?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Calamba</strong></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+City+Calamba/@14.2031007,121.1525776,16.74z/data=!4m12!1m6!3m5!1s0x33bd63cf61d7cccd:0x4f1ac183bb0960e3!2sSM+Accessories!8m2!3d14.2030727!4d121.1557047!3m4!1s0x0:0x6e8a554d50dcf289!8m2!3d14.20413!4d121.1544599?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Cebu</strong></td>
<td></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/SM+City+Cebu/@10.3111984,123.9001175,14z/data=!4m8!1m2!2m1!1sSM+cebu!3m4!1s0x33a9996cf04797bb:0xb91b3e68c6622f48!8m2!3d10.3111984!4d123.917627" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Clark</strong></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+City+Clark/@15.1688209,120.5779066,799m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3396f27ed3afbe8d:0x6ae26c077df1397!8m2!3d15.1688209!4d120.5800953?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Cubao</strong></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+Mall+of+Asia/@14.5352331,120.9796784,17z/data=!3m1!4b1!4m5!3m4!1s0x3397cbfc84288ed7:0xe842057d2e701f9b!8m2!3d14.5352331!4d120.9818671?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Dasmariñas</strong></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+City+Dasmari%C3%B1as/@14.3009712,120.9542456,17z/data=!3m1!4b1!4m5!3m4!1s0x3397d596fca738d1:0xcb327ef9afb22aca!8m2!3d14.3009712!4d120.9564343?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Davao</strong></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+City+Davao/@7.0742558,125.5920547,6573m/data=!3m1!1e3!4m8!1m2!2m1!1sSM+Davao!3m4!1s0x32f972bd611e38b3:0x4d02510ff1e373a2!8m2!3d7.049861!4d125.588019?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM East Ortigas</strong></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td> </td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+North+EDSA+Annex,+Bago+Bantay,+Quezon+City,+Metro+Manila/@14.6567677,121.025026,17z/data=!3m1!4b1!4m5!3m4!1s0x3397b6e4a1ba33fb:0xd6899e9056cf7646!8m2!3d14.6567677!4d121.0272147?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Fairview</strong></td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+Fairview+Expansion+Bldg/@14.7328871,121.0542002,17z/data=!3m1!4b1!4m5!3m4!1s0x3397b05d5fe2fce7:0xdfd7bedf32d2eb8!8m2!3d14.7328871!4d121.0563889?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Iloilo</strong></td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td></td>
<td></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/SM+City+Iloilo/@10.7146463,122.5494207,17z/data=!3m1!4b1!4m5!3m4!1s0x33aee53a3404224f:0x71a58f1ec3938bad!8m2!3d10.714641!4d122.5516094" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Lanang Davao</strong></td>
<td> </td>
<td> </td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+Lanang+Premier/@7.0986512,125.6289211,822m/data=!3m2!1e3!4b1!4m5!3m4!1s0x32f96c49efbdea9b:0x2025d3ae57e1ff92!8m2!3d7.0986512!4d125.6311098?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Legazpi</strong></td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/SM+Legaspi+City/@13.1436709,123.7421713,17z/data=!3m1!4b1!4m5!3m4!1s0x33a101f255827929:0xf4b272db6e52249!8m2!3d13.1436657!4d123.74436" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Lipa</strong></td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+City+Lipa/@13.9545472,121.1607395,17z/data=!4m8!1m2!2m1!1ssm+lipa!3m4!1s0x33bd6c84b3f3996d:0x3dcac8a02d4aaf46!8m2!3d13.9548638!4d121.1631087?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Lucena</strong></td>
<td> </td>
<td> </td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+City+Lucena/@13.9406369,121.6235136,17z/data=!3m1!4b1!4m5!3m4!1s0x33bd4caa7eb2b77d:0xe594a2eea8cfc2c2!8m2!3d13.9406369!4d121.6257023?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Makati</strong></td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td> </td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+Makati/@14.5497324,121.0245813,17z/data=!3m1!4b1!4m5!3m4!1s0x3397c91b766b4cdb:0xeb05ff1f1f6d9628!8m2!3d14.5497324!4d121.02677?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Mall Of Asia</strong></td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+Mall+of+Asia/@14.5352331,120.9796784,17z/data=!3m1!4b1!4m5!3m4!1s0x3397cbfc84288ed7:0xe842057d2e701f9b!8m2!3d14.5352331!4d120.9818671?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Mall Of Asia MAAX</strong></td>
<td> </td>
<td></td>
<td></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/MAAX+Bldg.+Mall+of+Asia/@14.5309354,120.9837644,15z/data=!4m5!3m4!1s0x0:0xcf43b7f13e425162!8m2!3d14.5309354!4d120.9837644" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Manila</strong></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+City+Manila/@14.589929,120.9808025,17z/data=!3m1!4b1!4m5!3m4!1s0x3397cb209479aa11:0x872db4487b1bb367!8m2!3d14.589929!4d120.9829912?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Marilao</strong></td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+City+Marilao/@14.7545648,120.9541453,801m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3397b3ad5a43fafd:0x88b57b97a533f397!8m2!3d14.7545648!4d120.956334?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Masinag</strong></td>
<td> </td>
<td> </td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+Accessories/@14.625217,121.1181963,801m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3397b8569a7834ff:0x1387c75f1c54abf2!8m2!3d14.625217!4d121.120385?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Megamall</strong></td>
<td></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td>Listening Room</td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+Megamall/@14.5844304,121.0543289,17z/data=!4m8!1m2!2m1!1sSM+Megamall!3m4!1s0x3397c9bdea6be067:0xb72b90b4df1825fd!8m2!3d14.584845!4d121.0568317?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Muntinlupa</strong></td>
<td> </td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/Smart+Store+-+SM+Muntinlupa/@14.3773943,121.042708,17z/data=!3m1!4b1!4m5!3m4!1s0x3397d0e62747a9eb:0x9d404f396ee9343!8m2!3d14.3773943!4d121.0448967?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Naga</strong></td>
<td>Astrovision</td>
<td> </td>
<td> </td>
<td> </td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/SM+City+Naga/@13.6177248,123.1883112,17z/data=!3m1!4b1!4m5!3m4!1s0x33a18dfed1e02a79:0x466c8cf0ef182e04!8m2!3d13.6177196!4d123.1904999" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM North EDSA</strong></td>
<td>Astrovision</td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+Mall+of+Asia/@14.5352331,120.9796784,17z/data=!3m1!4b1!4m5!3m4!1s0x3397cbfc84288ed7:0xe842057d2e701f9b!8m2!3d14.5352331!4d120.9818671?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Novaliches</strong></td>
<td> </td>
<td> </td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+City+Novaliches/@14.7080424,121.0353952,17z/data=!3m1!4b1!4m5!3m4!1s0x3397b0e0e6ef7a27:0xc6f844271baa2ee7!8m2!3d14.7080424!4d121.0375839?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Olongapo</strong></td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/SM+City+Olongapo+Downtown/@14.8265641,120.2828665,15z/data=!4m5!3m4!1s0x0:0x403c65951060241b!8m2!3d14.8265641!4d120.2828665" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Pampanga</strong></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+City+Pampanga/@15.0527583,120.6966266,800m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3396f7ff2f51c979:0xf40c90a1525fd490!8m2!3d15.0525916!4d120.6991455?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Rosales</strong></td>
<td> </td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+Accessories/@15.8793528,120.6003208,796m/data=!3m2!1e3!4b1!4m5!3m4!1s0x339139743107172b:0x56d16f2bf2572fb8!8m2!3d15.8793528!4d120.6025095?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM San Lazaro</strong></td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+City+San+Lazaro/@14.6156804,120.985858,17z/data=!4m8!1m2!2m1!1sSM+San+Lazaro!3m4!1s0x3397b50e7b1ae889:0xc2f5eb9b2d04cf9a!8m2!3d14.6185252!4d120.9860573?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM San Pablo</strong></td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td> </td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+City+San+Pablo/@14.0707197,121.3001243,17z/data=!3m1!4b1!4m5!3m4!1s0x33bd5d2cd946c37d:0xd168f8100c3ed3af!8m2!3d14.0707197!4d121.302313?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Seaside Cebu City</strong></td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td> </td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/SM+Seaside+City,+Cebu+City,+Cebu/@10.2817419,123.8787039,17z/data=!3m1!4b1!4m5!3m4!1s0x33a99c0b722c862d:0xe45c3521c261f3b4!8m2!3d10.2817366!4d123.8808926" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Southmall</strong></td>
<td></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+Southmall/@14.4326094,121.008648,17z/data=!3m1!4b1!4m5!3m4!1s0x3397d1f2989f6439:0x89209ca18b14bf7!8m2!3d14.4326094!4d121.0108367?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Sta. Mesa</strong></td>
<td></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+Accessories/@14.6045527,121.018099,18.04z/data=!4m5!3m4!1s0x3397c9d88f26aacb:0xbef2321dbaf8db90!8m2!3d14.6043613!4d121.018829?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Sta. Rosa</strong></td>
<td> </td>
<td> </td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+Santa+Rosa/@14.3128542,121.0964375,17z/data=!3m1!4b1!4m5!3m4!1s0x3397d8186e2933c5:0x65167e5943b4f5d3!8m2!3d14.3128542!4d121.0986262?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Sucat</strong></td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+City+Sucat/@14.4830077,120.9910389,17z/data=!3m1!4b1!4m5!3m4!1s0x3397ce7de2da5bbd:0xc4f1845e91886224!8m2!3d14.4830077!4d120.9932276?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Taytay</strong></td>
<td> </td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/search/sm+taytay/@14.5641828,121.1385562,190a,35y,61.78h,39.52t/data=!3m1!1e3?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Tarlac</strong></td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/THE+SM+STORE/@15.4770107,120.5922702,798m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3396c6405b038a3f:0xee754eeed7514f65!8m2!3d15.4770107!4d120.5944589?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Telabastagan</strong></td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/SM+Telabastagan+Event+Center/@15.1205855,120.5998742,17z/data=!3m1!4b1!4m5!3m4!1s0x3396f3187d56bd77:0xdffcfbad4ec2dad5!8m2!3d15.1205803!4d120.6020629" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>SM Valenzuela</strong></td>
<td> </td>
<td> </td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td> </td>
<td><span style="color: #0000ff;"><a href="https://www.google.com.ph/maps/place/SM+City+Valenzuela/@14.6853237,120.975065,17z/data=!3m1!4b1!4m5!3m4!1s0x3397b405680d747b:0x7ffb08ca602abf29!8m2!3d14.6853237!4d120.9772537?hl=en" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<!-- OLD -->
</tbody>
</table>
</div>
</div>
<style><!--
/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #f5f5f5;
}
th { 
  background: #000; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
border: 1px solid #ddd;

     text-align: center;
         font-family: "Open Sans","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
         text-transform: uppercase;
}

tr:hover {
	background-color: #ddd;
}


img.icn_checkmark {

width: auto;
height: 22px;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  tr { border: 1px solid #ccc; }
  
  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  
  /*
  Label the data
  */
  td:nth-of-type(1):before { content: "Store Name"; }
  td:nth-of-type(2):before { content: "Appliance Center"; }
  td:nth-of-type(3):before { content: "Department Store"; }
  td:nth-of-type(4):before { content: "Hypermarket"; }
  td:nth-of-type(5):before { content: "Supermarket"; }
  td:nth-of-type(6):before { content: "Direction"; }
  td:nth-of-type(7):before { content: "Date of Birth"; }
  td:nth-of-type(8):before { content: "Dream Vacation City"; }
  td:nth-of-type(9):before { content: "GPA"; }
  td:nth-of-type(10):before { content: "Arbitrary Data"; }
}
--></style>
<h2 style="text-align: center;"></h2>
<h2 style="text-align: center;">
<br>ROBINSONS STORES</h2>
<table>
<thead>
<tr>
<th>Store Name</th>
<th>Appliance Center</th>
<th>Direction</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Robinsons Angeles</strong></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Robinsons+Angeles/@15.1573243,120.5893116,17z/data=!3m1!4b1!4m5!3m4!1s0x3396f272112eb965:0xa4a1cab31ca24f7a!8m2!3d15.1573191!4d120.5915003" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>Robinsons Bacolod</strong></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Robinsons+Place+Bacolod/@10.6910308,122.9564379,837m/data=!3m2!1e3!4b1!4m5!3m4!1s0x33aed111c9c3980f:0xefface8ab5085fd8!8m2!3d10.6910308!4d122.9586266" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<!-- CONFIRMING THE ADDRESS -->
<tr>
<td><strong>Robinsons Batangas</strong></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Robinsons+Place+Lipa/@13.9142785,120.8629382,56547m/data=!3m1!1e3!4m8!1m2!2m1!1sRobinsons+Batangas!3m4!1s0x33bd6cbefd5d83cd:0x50211851bf7d8523!8m2!3d13.9430601!4d121.1506344" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>Robinsons Bf Parañaque</strong></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Robinsons+Supermarket+BF+Homes/@14.445839,121.0253696,17z/data=!3m1!4b1!4m5!3m4!1s0x3397ce2e81b64e13:0x5b34c618b2329409!8m2!3d14.4458338!4d121.0275583" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>Robinsons Dasmariñas</strong></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Robinsons+Place+Dasmari%C3%B1as/@14.2993251,120.9519207,1050m/data=!3m1!1e3!4m5!3m4!1s0x3397d5975af52c3f:0xcec5f17b06409a9c!8m2!3d14.299842!4d120.953707" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>Robinsons Ermita Manila</strong></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Robinsons+Place+Manila/@14.5760398,120.9834349,17z/data=!4m5!3m4!1s0x3397ca291d37a877:0x521822decfe229a6!8m2!3d14.5760398!4d120.9841859" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>Robinsons Galleria</strong></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Robinsons+Galleria+Ortigas/@14.5910608,121.0576579,17z/data=!3m1!4b1!4m5!3m4!1s0x3397c819abf9fa0f:0xd6de5ad44fb87ee1!8m2!3d14.5910608!4d121.0598466" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>Robinsons Ilocos</strong></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Robinsons+Appliances/@17.05624,119.3482919,8z/data=!4m8!1m2!2m1!1srobinsons+ilocos+appliance!3m4!1s0x338ec63f21bf2fb5:0x767652f72c189a02!8m2!3d18.1803634!4d120.5922765" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>Robinsons Las Piñas</strong></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/ROBINSONS+PLACE+LAS+PI%C3%91AS/@14.4429341,120.9964432,881m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3397ce02ae35fb05:0xec121067701c6de9!8m2!3d14.4429289!4d120.9986319" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>Robinsons Metro East</strong></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Robinsons+Metro+East/@14.6134545,121.0929582,14.4z/data=!4m5!3m4!1s0x3397b838d3c7c0af:0x640d523d11677ff!8m2!3d14.6197395!4d121.1000378" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>Robinsons Novaliches</strong></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Robinsons+Novaliches/@14.7356031,121.0554761,18z/data=!4m8!1m2!2m1!1sRobinsons+Novaliches!3m4!1s0x3397b0681c36010b:0xbf0a9b978177f584!8m2!3d14.7359481!4d121.056207" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>Robinsons Pampanga</strong></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Robinsons+Starmills/@15.0492687,120.6953448,17z/data=!3m1!4b1!4m5!3m4!1s0x3396f742566c968d:0x505dc2dc2d7e8bd1!8m2!3d15.0492635!4d120.6975335" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<!-- CONFIRMING THE ADDRESS -->
<tr>
<td><strong>Robinsons Riverbanks Marikina</strong></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Robinsons+Appliances/@14.6322276,121.0799533,824m/data=!3m1!1e3!4m8!1m2!2m1!1sRobinsons+Riverbaks!3m4!1s0x3397b8297ea39f83:0xbbc97107b2bd53c8!8m2!3d14.6326832!4d121.0817149" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td><strong>Robinsons Toril</strong></td>
<td><img class="icn_checkmark" src="https://cdn.shopify.com/s/files/1/2581/7224/files/iconfinder_Checkmark_1934650.png?834174063886520667"></td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Robinsons+Appliances/@7.0172867,125.4917467,17z/data=!3m1!4b1!4m5!3m4!1s0x32f90dabd77d6143:0x612e649497d8189!8m2!3d7.0172814!4d125.4939354" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<!-- OLD -->
</tbody>
</table>
<style><!--
/* 
  Generic Styling, for Desktops/Laptops 
  */
  table { 
    width: 100%; 
    border-collapse: collapse; 
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #f5f5f5;
  }
  th { 
    background: #000; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
  border: 1px solid #ddd;

       text-align: center;
           font-family: "Open Sans","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
           text-transform: uppercase;
  }

  tr:hover {
    background-color: #ddd;
  }


  img.icn_checkmark {

  width: auto;
  height: 22px;
  }

  /* 
  Max width before this PARTICULAR table gets nasty
  This query will take effect for any screen smaller than 760px
  and also iPads specifically.
  */
  @media 
  only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
      display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 50%; 
    }
    
    td:before { 
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%; 
      padding-right: 10px; 
      white-space: nowrap;
    }
    
    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "Store Name"; }
    td:nth-of-type(2):before { content: "Appliance Center"; }
    td:nth-of-type(3):before { content: "Direction"; }

  }
--></style>

<h2 style="text-align: center;">
<br>ROYAL STAR APPLIANCE STORES</h2>
<table>
<thead>
<tr>
<th>Store Name</th>
<th>Branch</th>
<th>Direction</th>
</tr>
</thead>
<tbody>
<!-- ROYAL STAR -->
<tr>
<td class="custom-td-1" rowspan="23"><strong>Royal Star Appliance</strong></td>
<!-- <td><strong>AllHome</strong></td> -->


</tr>
<tr>
<td>BALAYAN</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Royal+Star+Appliance+Marketing+Inc.+-+Balayan/@13.9363975,120.7279327,17z/data=!3m1!4b1!4m5!3m4!1s0x33bda32399d2b97d:0xa740b469099d3244!8m2!3d13.9363923!4d120.7301214" style="color: #0000ff;">Direction</a></span></td>
</tr>

<tr>
<td>BATANGAS CITY</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Royal+Star+Appliance+Marketing+Inc.+-+Batangas+City/@13.7613133,121.0563665,18z/data=!3m1!4b1!4m5!3m4!1s0x33bd05e0b642e3dd:0x2cc2b008a417e7c5!8m2!3d13.7613115!4d121.0571292" style="color: #0000ff;">Direction</a></span></td>
</tr>

<tr>
<td>BINANGONAN</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Royal+Star+Appliance+Marketing+Inc.+-+Binangonan/@14.5215324,121.1529457,17z/data=!3m1!4b1!4m5!3m4!1s0x3397c6b8c3d8d7bb:0xb5d8f796f7e5d764!8m2!3d14.5215272!4d121.1551344" style="color: #0000ff;">Direction</a></span></td>
</tr>

<tr>
<td>CALAMBA</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Royal+Star+Appliance+Marketing/@14.2145287,121.1457262,15z/data=!4m8!1m2!2m1!1sROYAL+STAR+calamba!3m4!1s0x33bd6235348b34ab:0xd552dba2c3c0ed30!8m2!3d14.2144123!4d121.1502099" style="color: #0000ff;">Direction</a></span></td>
</tr>

<tr>
<td>CANDELARIA</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Royal+Star+Appliance+Marketing+Inc.+-+Candelaria/@13.9261719,121.42278,17z/data=!3m1!4b1!4m5!3m4!1s0x33bd47d5e6c6ab13:0x8ad269d388d85961!8m2!3d13.9261667!4d121.4249687" style="color: #0000ff;">Direction</a></span></td>
</tr>

<tr>
<td>GEN. TRIAS</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/ROYAL+STAR+GEN.+TRIAS/@14.2921102,120.9068343,17z/data=!3m1!4b1!4m5!3m4!1s0x3397d55848a090c1:0x72830ecf64ebda75!8m2!3d14.292105!4d120.909023" style="color: #0000ff;">Direction</a></span></td>
</tr>

<tr>
<td>GMA</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/ROYAL+STAR+GMA/@14.2846422,120.9974253,17z/data=!3m1!4b1!4m5!3m4!1s0x3397d61b297bc549:0x5a7f3778beb4e37b!8m2!3d14.284637!4d120.999614" style="color: #0000ff;">Direction</a></span></td>
</tr>

<tr>
<td>IMUS</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/ROYAL+STAR+IMUS/@14.4236443,120.9403237,17z/data=!3m1!4b1!4m5!3m4!1s0x3397d25897e29abd:0x528f7e9373576a62!8m2!3d14.4236391!4d120.9425124" style="color: #0000ff;">Direction</a></span></td>
</tr>

<tr>
<td>LOS BAÑOS</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Royal+Star+Los+Ba%C3%B1os/@14.1787229,121.2390182,17z/data=!3m1!4b1!4m5!3m4!1s0x33bd60bf88d4735b:0x9a8268fb869e1529!8m2!3d14.1787177!4d121.2412069" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>

<tr>
<td>LUCENA</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Royal+Star+Appliance+Marketing+Inc.+-+Lucena/@13.9361794,121.6120436,17z/data=!3m1!4b1!4m5!3m4!1s0x33bd4b5a325f0a69:0x458561146ba40095!8m2!3d13.9361742!4d121.6142323" style="color: #0000ff;">Direction</a></span></td>
</tr>

<tr>
<td>PASIG</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/ROYAL+STAR+PASIG/@14.5633256,121.0743408,17z/data=!3m1!4b1!4m5!3m4!1s0x3397c7d5e0390d5f:0x6dc8e84779c52587!8m2!3d14.5633204!4d121.0765295" style="color: #0000ff;">Direction</a></span></td>
</tr>

<tr>
<td>ROSARIO</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Royal+Star/@14.4121555,120.8556809,17z/data=!3m1!4b1!4m5!3m4!1s0x33962cfa65e9a17d:0xa2b7b4d0c9b1aed5!8m2!3d14.4121503!4d120.8578696" style="color: #0000ff;">Direction</a></span></td>
</tr>

<td>SAN PABLO</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Royal+Star+San+Pablo+2/@14.0699509,121.3233164,18.78z/data=!4m8!1m2!2m1!1sRoyal+Star+Applicance+San+pablo!3m4!1s0x33bd5ccc30926d3d:0x4fab6e77d63917eb!8m2!3d14.069915!4d121.3238383" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>


<tr>
<td>SAN PEDRO</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Royal+Star/@14.3672784,121.049372,17z/data=!3m1!4b1!4m5!3m4!1s0x3397d0c6b04d7e29:0xe948a450937b2666!8m2!3d14.3672732!4d121.0515607" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>

<tr>
<td>SILANG</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Royal+Star+Appliance+Marketing+Inc.+-+Silang/@14.2226847,120.9718561,17z/data=!3m1!4b1!4m5!3m4!1s0x33bd7fd79182c29d:0x53a120108a82bce7!8m2!3d14.2226795!4d120.9740448" style="color: #0000ff;">Direction</a></span></td>
</tr>

<tr>
<td>STA. CRUZ</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/ROYAL+STAR+STA.+CRUZ/@14.2855819,121.4109307,17z/data=!3m1!4b1!4m5!3m4!1s0x3397e36dc96d3e5d:0x496e4ad25725940b!8m2!3d14.2855767!4d121.4131194" style="color: #0000ff;">Direction</a></span></td>
</tr>

<tr>
<td>STA. ROSA</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Royal+Star/@14.2948274,121.1014372,16.43z/data=!4m8!1m2!2m1!1sROYAL+STAR+STA+ROSA!3m4!1s0x3397d848677b9b99:0x38f6bb1f478450ab!8m2!3d14.294274!4d121.104654" style="color: #0000ff;">Direction</a></span></td>
</tr>

<tr>
<td>SUNSTAR MALL</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Sun+Star+Mall/@14.2556619,121.3909253,17z/data=!3m1!4b1!4m5!3m4!1s0x3397e254f95856ad:0x9510af8b71f98c38!8m2!3d14.2556589!4d121.3921988" style="color: #0000ff;">Direction</a></span></td>
</tr>

<tr>
<td>TANAUAN</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Royal+Star+Appliance+Marketing+Inc.+-+Tanauan/@14.0835347,121.1458183,17z/data=!3m1!4b1!4m5!3m4!1s0x33bd6f00bb396607:0x8980eaa3015ec798!8m2!3d14.0835295!4d121.148007" style="color: #0000ff;">Direction</a></span></td>
</tr>


<tr>
<td>TANAY</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Royal+Star/@14.4967392,121.2850662,17z/data=!3m1!4b1!4m5!3m4!1s0x3397ea3dbc625cf9:0x71bf2553821fd5bd!8m2!3d14.496734!4d121.2872549" style="color: #0000ff;">Direction</a></span></td>
</tr>

<tr>
<td>TANZA</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/ROYAL+STAR+TANZA/@14.3921118,120.8504657,17z/data=!3m1!4b1!4m5!3m4!1s0x33962c88628baedb:0xabe6f24c2d0cb45d!8m2!3d14.3921066!4d120.8526544" style="color: #0000ff;">Direction</a></span></td>
</tr>



<tr>
<td>TIANONG</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Royal+Star+Appliance+Marketing+Inc.+-+Tiaong/@13.9601246,121.3192665,17z/data=!3m1!4b1!4m5!3m4!1s0x33bd4148c14016d5:0x8d9caa8d8cd9eb6e!8m2!3d13.9601194!4d121.3214552" style="color: #0000ff;">Direction</a></span></td>
</tr>


</tbody>
</table>





<h2 style="text-align: center;">
<br>OTHER STORES</h2>
<table>
<thead>
<tr>
<th>Store Name</th>
<th>Branch</th>
<th>Direction</th>
</tr>
</thead>
<tbody>
<!-- 1st MEGASAVER -->
<tr>
<td class="custom-td-1" rowspan="3"><strong>1st MegaSaver</strong></td>
<!-- <td><strong>AllHome</strong></td> -->
<td>Cabanatuan</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Cabanatuan+City,+Nueva+Ecija/@15.4654583,120.9507715,877m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3397288d58c4ac9b:0xf36333202b34975c!8m2!3d15.4654531!4d120.9529602" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>AllHome</strong></td> -->
<td>San Fernando</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Mega+Savers+Department+Store+Corporation/@15.0289019,120.6905089,879m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3396f775b00cb87f:0x54c723f09bbb2c71!8m2!3d15.0288967!4d120.6926976" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td>San Nicolas</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/1st+Megasaver/@15.4908982,120.5944663,877m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3396c622a16e5cf3:0xf0ab68d0fc223c42!8m2!3d15.490893!4d120.596655" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<!-- END --> <!-- ABENSON -->
<tr>
<td class="custom-td-2" rowspan="10"><strong>Abenson</strong></td>
<!-- <td><strong>AllHome</strong></td> -->
<td>Ayala Legazpi</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Abenson+Ayala+Malls+Legazpi/@13.1469431,123.7500523,886m/data=!3m2!1e3!4b1!4m5!3m4!1s0x33a10181d5ebb507:0xd84285348ce2799c!8m2!3d13.1469379!4d123.752241" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>AllHome</strong></td> -->
<td>Fora Tagaytay</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Abenson/@14.1124118,120.9586904,291m/data=!3m1!1e3!4m8!1m2!2m1!1sabensonTagaytay!3m4!1s0x33bd77640122ee97:0xa7f164085baf1806!8m2!3d14.1123518!4d120.9589354" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>AllHome</strong></td> -->
<td>LCC Iriga</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Abenson/@13.420404,123.4082208,885m/data=!3m2!1e3!4b1!4m5!3m4!1s0x33a1983f5469e3b9:0x3c043418cc066c09!8m2!3d13.4203988!4d123.4104095" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>AllHome</strong></td> -->
<td>LCC Naga</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Abenson+LCC+Mall+Naga/@13.6192992,123.1776593,885m/data=!3m2!1e3!4b1!4m5!3m4!1s0x33a18ca5343e889d:0x2ef9941459ad69e9!8m2!3d13.619294!4d123.179848" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>AllHome</strong></td> -->
<td>Paniqui</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Abenson+Walter+Mart+Paniqui/@15.6679939,120.5839628,17z/data=!3m1!4b1!4m5!3m4!1s0x3396cb459f7b1e2d:0xbd6198dbc15f6995!8m2!3d15.6679887!4d120.5861515" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>AllHome</strong></td> -->
<td>Pacific Legazpi</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Abenson+Pacific+Mall+Legazpi/@13.1452524,123.7475117,886m/data=!3m2!1e3!4b1!4m5!3m4!1s0x33a1010205bd3979:0xbc8083615dbac9ea!8m2!3d13.1452472!4d123.7497004" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>AllHome</strong></td> -->
<td>PG Naga</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Abenson+Puregold+ALDP+Naga/@13.6151571,123.1892572,885m/data=!3m1!1e3!4m8!1m2!2m1!1sabenson+naga!3m4!1s0x33a18d1aa70c4119:0x7cbbfd067d902152!8m2!3d13.6150725!4d123.1903184" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>AllHome</strong></td> -->
<td>Tagaytay</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/All+Home+Daang+Hari/@14.3848844,120.9767999,17z/data=!4m8!1m2!2m1!1sallhome+daang+hari!3m4!1s0x3397d3dda5b9ffcb:0x8b70eb61ecbd1ff2!8m2!3d14.3841121!4d120.9797585" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td>W Mall Pasay City</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/search/abenson+W+Mall+Pasay+City/@14.5320735,120.9869216,17z/data=!3m1!4b1" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>AllHome</strong></td> -->
<td>Waltermart North Edsa</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/search/abenson+Waltermart+North+Edsa/@14.6570099,121.0187976,17z/data=!3m1!4b1" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<!-- END --> <!-- ALLHOME -->
<tr>
<td class="custom-td-1" rowspan="10"><strong>AllHome</strong></td>
<td>AllHome Alabang</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/All+Home+Alabang/@14.4171052,121.0445663,882m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3397d038493479a9:0x5daa0768c88af9e9!8m2!3d14.4171!4d121.046755" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>AllHome</strong></td> -->
<td>AllHome Balanga</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/AllHome+Bataan/@14.6543103,120.5318352,17z/data=!3m1!4b1!4m5!3m4!1s0x33963fddfcaaa2e7:0xe5c813820a7693f!8m2!3d14.6543051!4d120.5340239" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>AllHome</strong></td> -->
<td>AllHome Bataan</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/AllHome+Bataan/@14.6543103,120.5318352,881m/data=!3m2!1e3!4b1!4m5!3m4!1s0x33963fddfcaaa2e7:0xe5c813820a7693f!8m2!3d14.6543051!4d120.5340239" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>AllHome</strong></td> -->
<td>AllHome Bulacan</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Allhome/@14.8135174,121.0698831,880m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3397af7b3fb9df51:0x96b287560e741750!8m2!3d14.8135122!4d121.0720718" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>AllHome</strong></td> -->
<td>AllHome Daang Hari</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/All+Home+Daang+Hari/@14.3848844,120.9767999,17z/data=!4m8!1m2!2m1!1sallhome+daang+hari!3m4!1s0x3397d3dda5b9ffcb:0x8b70eb61ecbd1ff2!8m2!3d14.3841121!4d120.9797585" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>AllHome</strong></td> -->
<td>AllHome San Jose Del Monte</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Allhome/@14.8134333,121.0692966,17z/data=!3m1!4b1!4m5!3m4!1s0x3397af7b3fb9df51:0x96b287560e741750!8m2!3d14.8134281!4d121.0714853" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>AllHome</strong></td> -->
<td>AllHome Sta. Rosa</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/All+Home/@14.2440842,121.0565243,17z/data=!3m1!4b1!4m5!3m4!1s0x33bd7d3e66c93bed:0xdb607d4bc1b358fd!8m2!3d14.244079!4d121.058713" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr></tr>
<tr>
<!-- <td><strong>AllHome</strong></td> -->
<td>AllHome Star Mall</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/search/allhome+star+mall/@14.5818613,121.0521085,16.05z" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<!-- <td><strong>AllHome</strong></td> -->
<tr>
<td>AllHome Taguig</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/All+Home+Alabang/@14.4171052,121.0445663,882m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3397d038493479a9:0x5daa0768c88af9e9!8m2!3d14.4171!4d121.046755" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
<!-- END -->
</tr>
<tr>
<td class="custom-td-2"><strong>Ansons</strong></td>
<td>Trinoma</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Toys+%E2%80%9CR%E2%80%9D+Us/@14.6540174,121.0304892,824m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3397b6e2caea0c05:0x1cab891dc2d15d3a!8m2!3d14.6540174!4d121.0326779" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td class="custom-td-1"><strong>Astrovision</strong></td>
<td>SM North Edsa</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Astrovision/@14.6557876,121.0308662,440m/data=!3m1!1e3!4m8!1m2!2m1!1satrovision+north+edsa!3m4!1s0x0:0x5f9ef646f83e0479!8m2!3d14.6565131!4d121.0308918" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<!-- BHF -->
<tr>
<td class="custom-td-2" rowspan="13"><strong>BHF</strong></td>
<td>A.B Fernandez Ave. Dagupan</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/BHF+DAGUPAN/@16.0453346,120.3415971,172m/data=!3m1!1e3!4m5!3m4!1s0x339167085cb8b637:0x9901640c4505da0f!8m2!3d16.0455086!4d120.3416158" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Ever Gotesco</strong></td> -->
<td>Alaminos</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/BHF+Appliances/@16.1542987,119.9815514,281a,35y,147.86h/data=!3m1!1e3!4m8!1m2!2m1!1salaminos+bhf!3m4!1s0x3393dccef4d2ce25:0x4e5427f9a7750a4d!8m2!3d16.1540082!4d119.9813951" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Ever Gotesco</strong></td> -->
<td>Bayambang</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Balingit+Home+Furnishing/@15.8078842,120.457681,263a,35y,38.69h/data=!3m1!1e3!4m5!3m4!1s0x339149226e8c52ff:0x8718be1288c798b7!8m2!3d15.8078026!4d120.4578834" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Ever Gotesco</strong></td> -->
<td>Cases Ave. Agoo</td>
<td><span style="color: #0000ff;"><a href="#" target="" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Ever Gotesco</strong></td> -->
<td>Mangatarem</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/BHF+Appliance+Center/@15.791478,120.2915778,219m/data=!3m2!1e3!4b1!4m5!3m4!1s0x339153c66154bc01:0xa1104c1e6ec82f5b!8m2!3d15.7914767!4d120.292125" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Ever Gotesco</strong></td> -->
<td>Mc Arthur, Urdaneta City</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/BHF+Appliance+Center/@15.9734794,120.5686446,875m/data=!3m1!1e3!4m8!1m2!2m1!1sbhf+Mc+Arthur,+Urdaneta+City!3m4!1s0x33913fac80bab78f:0xdfb0a29b293a20a5!8m2!3d15.9715586!4d120.5708702" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Ever Gotesco</strong></td> -->
<td>Nancayasan Urdaneta City</td>
<td><span style="color: #0000ff;"><a href="#" target="" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Ever Gotesco</strong></td> -->
<td>Pagdaraoan, San Fernando</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/BHF+Appliances+-+San+Fernando+2/@16.6174883,120.3134755,872m/data=!3m1!1e3!4m8!1m2!2m1!1sPagdaraoan,+San+Fernando+bhf!3m4!1s0x33918e6a1bc80ded:0xb873237dcd918d64!8m2!3d16.616528!4d120.315219" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Ever Gotesco</strong></td> -->
<td>Poblacion, Iba</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/CSI+Supermarket/@16.1106873,120.5424374,1114m/data=!3m1!1e3!4m8!1m2!2m1!1sPoblacion,+Pozzorrubio+pangasinan+csi!3m4!1s0x33911343f157772d:0xf901b2e34ac68cd7!8m2!3d16.1098518!4d120.5456085" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Ever Gotesco</strong></td> -->
<td>Poblacion, Lingayen</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/BHF+Appliances/@15.3283244,119.971432,878m/data=!3m2!1e3!4b1!4m5!3m4!1s0x339424b328c711bb:0x7efea54ae320cc08!8m2!3d15.3283192!4d119.9736207" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Ever Gotesco</strong></td> -->
<td>Poblacion, Malasiqui</td>
<td><span style="color: #0000ff;"><a href="#" target="" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Ever Gotesco</strong></td> -->
<td>Poblacion, San Carlos</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/BHF+Pawn+Shop/@15.9279946,120.3456344,875m/data=!3m2!1e3!4b1!4m5!3m4!1s0x339144cdc788879f:0xef1ca4a8d8d33c0!8m2!3d15.9279895!4d120.3478231" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Ever Gotesco</strong></td> -->
<td>Poblacion, South Sta. Cruz</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/BHF+Appliances/@15.7611904,119.9094763,876m/data=!3m2!1e3!4b1!4m5!3m4!1s0x339409c4b46dcff3:0x480b17f1d891cfd3!8m2!3d15.7611852!4d119.911665" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<!-- END --> <!-- CSI -->
<tr>
<td class="custom-td-1" rowspan="13"><strong>CSI</strong></td>
<td>Candon</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/CSI+Candon/@17.1838087,120.4425132,870m/data=!3m2!1e3!4b1!4m5!3m4!1s0x338e198d0480f053:0xde117481ab3dc925!8m2!3d17.1838036!4d120.4447019" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Ever Gotesco</strong></td> -->
<td>Dagupan</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/CSI+Mall+Dagupan/@16.0238031,120.3214502,875m/data=!3m2!1e3!4b1!4m5!3m4!1s0x33915d3f75913589:0x88ee709616e37e14!8m2!3d16.023798!4d120.3236389" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Ever Gotesco</strong></td> -->
<td>Lucao District</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Memo+-+CSI+Lucao/@16.0230971,120.3214868,875m/data=!3m1!1e3!4m8!1m2!2m1!1sCSI+Lucao+District!3m4!1s0x33915d3f693ec305:0x1f80d703c3935293!8m2!3d16.0234688!4d120.324009" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Ever Gotesco</strong></td> -->
<td>Mangaldan</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/CSI+Mangaldan/@16.0722744,120.4008007,875m/data=!3m2!1e3!4b1!4m5!3m4!1s0x339169a649535091:0x6c850b3e761d3a90!8m2!3d16.0722693!4d120.4029894" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Ever Gotesco</strong></td> -->
<td>Pangilinan, Iba</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/CSI+Mall/@15.3206247,119.9843179,878m/data=!3m2!1e3!4b1!4m5!3m4!1s0x339424b817ad9e9f:0xb3abc2a34e0a85ad!8m2!3d15.3206195!4d119.9865066" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Ever Gotesco</strong></td> -->
<td>Poblacion, Alaminos</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/CSI+Warehouse+Club+Parking+Lot/@16.1574355,119.9748542,874m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3393dccb83a6a43b:0xfaf31c3ab1b15ef!8m2!3d16.1574304!4d119.9770429" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Ever Gotesco</strong></td> -->
<td>Poblacion, Bayambang</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/CSI+Bayambang/@15.811009,120.454755,876m/data=!3m2!1e3!4b1!4m5!3m4!1s0x33914921bd81de57:0x5cd68c3211aa3f13!8m2!3d15.8110038!4d120.4569437" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Ever Gotesco</strong></td> -->
<td>Poblacion, Mangatarem</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/search/poblacion+malapit+sa+Mangatarem,+Pangasinan+csi/@15.7891809,120.2937779,876m/data=!3m2!1e3!4b1" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Ever Gotesco</strong></td> -->
<td>Poblacion, Pozzorrubio</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/CSI+Supermarket/@16.1106873,120.5424374,1114m/data=!3m1!1e3!4m8!1m2!2m1!1sPoblacion,+Pozzorrubio+pangasinan+csi!3m4!1s0x33911343f157772d:0xf901b2e34ac68cd7!8m2!3d16.1098518!4d120.5456085" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Ever Gotesco</strong></td> -->
<td>San Carlos</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/CSI+San+Carlos/@15.9252479,120.3459075,875m/data=!3m2!1e3!4b1!4m5!3m4!1s0x339144d2139a8f6d:0xd5b939da4d94c57f!8m2!3d15.9252428!4d120.3480962" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Ever Gotesco</strong></td> -->
<td>San Fernando</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/CSI+City+Mall+-+La+Union/@16.6293255,120.3201006,872m/data=!3m2!1e3!4b1!4m5!3m4!1s0x33918e0c92c018ab:0x93612d1fb54e396e!8m2!3d16.6293204!4d120.3222893" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Ever Gotesco</strong></td> -->
<td>Tayug</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/CSI+Tayug,+Barangay+Trenchera,+Carmen+-+Poblacion+Rosales+National+Rd,+Tayug,+Pangasinan/@16.0209214,120.7439089,875m/data=!3m2!1e3!4b1!4m5!3m4!1s0x33911852a71761fb:0x93c5f5c66ea03031!8m2!3d16.0209246!4d120.7459509" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Ever Gotesco</strong></td> -->
<td>Urdaneta</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/CSI+Warehouse+Club+Urdaneta/@15.9669008,120.5703421,875m/data=!3m2!1e3!4b1!4m5!3m4!1s0x33913faad9a1cdb5:0x16261222667b3837!8m2!3d15.9668957!4d120.5725308" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<!-- END --> <!-- HOME WORKS -->
<tr>
<td class="custom-td-2" rowspan="3"><strong>HOME WORKS</strong></td>
<td>Ever Gotesco Homeworks 3rd Floor</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Ever+Gotesco+Commonwealth/@14.6776323,121.0837076,877m/data=!3m1!1e3!4m8!1m2!2m1!1sEver+Gotesco!3m4!1s0x3397b9f8a8297701:0x6a3ce54aa211ddb3!8m2!3d14.678067!4d121.085665" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Ever Gotesco</strong></td> -->
<td>Ever Gotesco Homeworks Basement</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Ever+Gotesco+Commonwealth/@14.6776323,121.0837076,877m/data=!3m1!1e3!4m8!1m2!2m1!1sEver+Gotesco!3m4!1s0x3397b9f8a8297701:0x6a3ce54aa211ddb3!8m2!3d14.678067!4d121.085665" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td>Premiere Plaza</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Premier+Plaza/@14.2130134,120.9657249,826m/data=!3m2!1e3!4b1!4m5!3m4!1s0x33bd7eb91b97418b:0x21e449feeeed70ff!8m2!3d14.2130134!4d120.9679136" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<!-- END -->
<tr>
<td class="custom-td-1"><strong>ICM</strong></td>
<td>ICM Bohol</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Island+City+Mall/@9.6553134,123.8675619,840m/data=!3m2!1e3!4b1!4m5!3m4!1s0x33aa4c30923688e3:0xbf744e652643049b!8m2!3d9.6553134!4d123.8697506" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<!-- MAGIC APPLIANCE CENTER -->
<tr>
<td class="custom-td-2" rowspan="12"><strong>MAGIC APPLIANCE CENTER</strong></td>
<td>NEPOMALL</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/search?rlz=1C1CHBF_enPH817PH817&amp;biw=1536&amp;bih=763&amp;tbm=lcl&amp;ei=gJ9KXJn7B4jy8AXF_ouIAg&amp;btnG=Maghanap&amp;q=G%2FF+Nepo+Mall%2C+Dagupan+City%2C+Pangasinan#rlfi=hd:;si:;mv:!1m2!1d16.051395!2d120.34209369999999!2m2!1d16.0510484!2d120.34167049999999;tbs:lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td>MANGALDAN</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/search?rlz=1C1CHBF_enPH817PH817&amp;biw=1536&amp;bih=763&amp;tbm=lcl&amp;ei=naJKXM27NsX98gWY9aOYCg&amp;q=Poblacion%2C+Mangaldan%2C+Pangasinan&amp;oq=Poblacion%2C+Mangaldan%2C+Pangasinan&amp;gs_l=psy-ab.12...0.0.0.32945.0.0.0.0.0.0.0.0..0.0....0...1c..64.psy-ab..0.0.0....0.l9WvIgzKEWk#rlfi=hd:;si:2375512695601732403;mv:!1m2!1d16.073816!2d120.407254!2m2!1d16.062116!2d120.39686900000001" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td>NARVACAN</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/search?rlz=1C1CHBF_enPH817PH817&amp;biw=1536&amp;bih=763&amp;tbm=lcl&amp;ei=v6JKXIOJF8e38QXpkoygBA&amp;q=Narvacan+Mall%2C+Ilocos+Sur&amp;oq=Narvacan+Mall%2C+Ilocos+Sur&amp;gs_l=psy-ab.12..0i22i30k1.316874.316874.0.317950.1.1.0.0.0.0.94.94.1.1.0....0...1c.1.64.psy-ab..0.1.92....0.PimWfv2vPLA#rlfi=hd:;si:423974979968189298;mv:!1m2!1d17.427002977319024!2d120.47390063565247!2m2!1d17.426643022680967!2d120.47352336434756" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td>BANTAY</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/search?rlz=1C1CHBF_enPH817PH817&amp;biw=1536&amp;bih=763&amp;tbm=lcl&amp;ei=_aNKXNvXN8uF8wWMp63gBw&amp;q=2%2FF+JTC+Mall%2C+Bantay%2C+Ilocos+Sur&amp;oq=2%2FF+JTC+Mall%2C+Bantay%2C+Ilocos+Sur&amp;gs_l=psy-ab.12..33i22i29i30k1l4.142296.142296.0.143204.1.1.0.0.0.0.99.99.1.1.0....0...1c.1.64.psy-ab..0.1.99....0.KQdC8sHBYcg#rlfi=hd:;si:15852044193436493053;mv:!1m2!1d17.589777177319025!2d120.38936310478257!2m2!1d17.589417222680968!2d120.38898549521748" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td>URDANETA</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/search?rlz=1C1CHBF_enPH817PH817&amp;biw=1536&amp;bih=763&amp;tbm=lcl&amp;ei=E6ZKXIWxBoz48QWnp6WQBA&amp;q=2%2FF+MagicMall%2C+Urdaneta+City%2C+Pangasinan&amp;oq=2%2FF+MagicMall%2C+Urdaneta+City%2C+Pangasinan&amp;gs_l=psy-ab.12...0.0.0.15974.0.0.0.0.0.0.0.0..0.0....0...1c..64.psy-ab..0.0.0....0.BagXePal3CQ#rlfi=hd:;si:;mv:!1m2!1d15.975595699999998!2d120.56809439999999!2m2!1d15.975139599999999!2d120.5679769;tbs:lrf:!2m1!1e2!3sIAE,lf:1,lf_ui:2" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td>POZORRUBIO</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/search/Pozorrubio,+national+hi-way/@16.1112533,120.5050666,13z/data=!3m1!4b1" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td>SAN CARLOS</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Palaris+St,+San+Carlos+City,+Pangasinan/@15.9235847,120.3429582,17z/data=!3m1!4b1!4m5!3m4!1s0x339144d322812763:0x694f7a4333ed680b!8m2!3d15.9235796!4d120.3451469" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td>ALAMINOS</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/search/MARCOS+AVE.,+ALAMINOS+CITY,+PANGASINAN/@16.1550822,119.9727574,15z/data=!3m1!4b1" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td>STA. CRUZ</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Poblacion+South,+Santa+Cruz,+Zambales/@15.7665585,119.9081372,15z/data=!3m1!4b1!4m5!3m4!1s0x339409d75aa68581:0x4b973f5dff80361c!8m2!3d15.7690289!4d119.9133356" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td>MANGATAREM</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/search/POBLACION,+MANGATAREM,+PANGASINAN/@15.7410716,120.2101573,12z/data=!3m1!4b1" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td>LINGAYEN</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Poblacion,+Bayan+ng+Lingayen,+Pangasinan/@16.0282529,120.219022,15z/data=!3m1!4b1!4m5!3m4!1s0x33915e5d511466a7:0x9b29a321c7611c52!8m2!3d16.0266235!4d120.225308" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td>BAYAMBANG</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/search/2%2FF+ROYAL+MALL,+BOBLACION,+MAYAMBANG,+PANGASINAN/@15.809888,120.4550871,17z/data=!3m1!4b1" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td class="custom-td-1"><strong>MartOne</strong></td>
<td>Pasay City</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Mart+One/@14.54737,120.9958763,881m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3397c967e8b2ac87:0xa65f6a92c4aedc97!8m2!3d14.5473648!4d120.998065" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td class="custom-td-2"><strong>MI Expression</strong></td>
<td>Sta. Maria Bulacan</td>
<td><span style="color: #0000ff;"><a href="#" target="" style="color: #0000ff;">Direction</a></span></td>
</tr>
<!-- END --> <!-- METRO -->
<tr>
<!-- <td><strong>Department Store</strong></td> -->
<td class="custom-td-1" rowspan="8"><strong>METRO<strong></strong></strong></td>
<td>Metro Bacolod</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/METRO+HYPERMART/@10.6611858,122.9474727,223m/data=!3m1!1e3!4m5!3m4!1s0x33aed1ca730dc98d:0x180b5d3c0013e2a0!8m2!3d10.661342!4d122.9478837" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Department Store</strong></td> -->
<td>Metro Colon</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Metro+Colon+Supermarket/@10.2959008,123.8961227,896m/data=!3m2!1e3!4b1!4m5!3m4!1s0x33a99be295458d3b:0x5c6f6fd0ffbf90d4!8m2!3d10.2958955!4d123.8983114" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Department Store</strong></td> -->
<td>Metro Feliz Pasig</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Ayala+Malls+Feliz/@14.6198252,121.0910723,881m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3397b83c696bf5c3:0x4413a65835ae270e!8m2!3d14.61982!4d121.093261" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Department Store</strong></td> -->
<td>Metro Legazpi</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Metro+Gaisano+Legazpi/@13.1442227,123.7469397,886m/data=!3m2!1e3!4b1!4m5!3m4!1s0x33a1017fe91ab403:0x11adf4f51ec193e1!8m2!3d13.1442175!4d123.7491284" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Department Store</strong></td> -->
<td>Metro Lucena</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Metro+Gaisano+Lucena/@13.9372288,121.60667,883m/data=!3m2!1e3!4b1!4m5!3m4!1s0x33bd4b5c336eee29:0xd09f48e0897de9!8m2!3d13.9372236!4d121.6088587" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Department Store</strong></td> -->
<td>Metro Mandaue</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Metro+Mandaue/@10.3326445,123.9282704,3582m/data=!3m1!1e3!4m8!1m2!2m1!1sMetro+Mandaue!3m4!1s0x33a998460fd83391:0x2e94d9b332747719!8m2!3d10.3405205!4d123.9486122" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td>Gaisano Grand Tagum</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/GAISANO+GRAND+MALL/@7.445411,125.8084993,845m/data=!3m2!1e3!4b1!4m5!3m4!1s0x32f95372310c1fb7:0xb73d150bebe45d71!8m2!3d7.445411!4d125.810688" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td>Market Maket</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Market!+Market!/@14.5491366,121.053706,881m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3397c8f2ca652c83:0x62c8011c6abe662e!8m2!3d14.5491314!4d121.0558947" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<!-- END --> <!-- NCCC -->
<tr>
<td class="custom-td-2" rowspan="4"><strong>NCCC<strong></strong></strong></td>
<td>NCCC Buhangin</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/NCCC+Mall+Buhangin/@7.1105477,125.6096253,903m/data=!3m2!1e3!4b1!4m5!3m4!1s0x32f96c5fa8d6c7b3:0xf2805093660781d!8m2!3d7.1105424!4d125.611814" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Department Store</strong></td> -->
<td>NCCC Main</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/NCCC+Main+Magsaysay/@7.0746148,125.6194285,903m/data=!3m2!1e3!4b1!4m5!3m4!1s0x32f96d97ec90e11b:0x5f7a6435226ebc2e!8m2!3d7.0746095!4d125.6216172" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td>NCCC Palawan</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Vivo/@9.7389717,118.7392939,17z/data=!3m1!4b1!4m5!3m4!1s0x33b563de6bdf6733:0xf1f39bb1fd547858!8m2!3d9.7389664!4d118.7414826" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Department Store</strong></td> -->
<td>NCCC Tagum</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/NCCC+Mall+Tagum/@7.4513288,125.8113611,17z/data=!3m1!4b1!4m5!3m4!1s0x32f953cd2c8590d3:0xd28b82fbef8a2fb!8m2!3d7.4513235!4d125.8135498" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<!-- END --> <!-- ODDYSSEY -->
<tr>
<td class="custom-td-1" rowspan="3"><strong>Oddyssey</strong></td>
<td>Festival Mall Alabang</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/SM+City+Pampanga/@15.0520213,120.6974287,440m/data=!3m1!1e3!4m8!1m2!2m1!1sSM+City+Pampanga,+San+Jose+Road,+San+Fernando,+Pampanga!3m4!1s0x3396f7ff2f51c979:0xf40c90a1525fd490!8m2!3d15.0527583!4d120.6988153" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Oddyssey</strong></td> -->
<td>Market Market</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Market!+Market!/@14.5491366,121.053706,881m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3397c8f2ca652c83:0x62c8011c6abe662e!8m2!3d14.5491314!4d121.0558947" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Oddyssey</strong></td> -->
<td>SM Pampanga</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/SM+City+Pampanga/@15.0520213,120.6974287,440m/data=!3m1!1e3!4m8!1m2!2m1!1sSM+City+Pampanga,+San+Jose+Road,+San+Fernando,+Pampanga!3m4!1s0x3396f7ff2f51c979:0xf40c90a1525fd490!8m2!3d15.0527583!4d120.6988153" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<!-- END -->
<tr>
<td class="custom-td-2"><strong>Savers Balibago</strong></td>
<td>SM Balibago</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/SM+City+Clark/@15.1688209,120.5779066,822m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3396f27ed3afbe8d:0x6ae26c077df1397!8m2!3d15.1688209!4d120.5800953" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td class="custom-td-1" rowspan="6"><strong>Shopwise</strong></td>
<td>Shopwise Alabang</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Shopwise+Alabang/@14.4190336,121.0197327,14.4z/data=!4m5!3m4!1s0x3397d0368d22dc95:0xee9454e57d9621fd!8m2!3d14.4192122!4d121.04105" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Shopwise</strong></td> -->
<td>Shopwise Antipolo</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Shopwise+Antipolo/@14.5812237,121.1733532,17z/data=!3m1!4b1!4m5!3m4!1s0x3397c0aa167c4b13:0x6047ff9b972c914a!8m2!3d14.5812185!4d121.1755419" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Shopwise</strong></td> -->
<td>Shopwise Araneta Center QC</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Shopwise+Araneta/@14.6191085,121.0523022,17z/data=!4m5!3m4!1s0x3397b7bf8e0a3aad:0xdcc1f86a053718f5!8m2!3d14.6209927!4d121.0547591" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Shopwise</strong></td> -->
<td>Shopwise Commonwealth</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Shopwise+Commonwealth/@14.6770312,121.0796952,17z/data=!3m1!4b1!4m5!3m4!1s0x3397b9ffa1551341:0xec38929cf30360e4!8m2!3d14.677026!4d121.0818839" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Shopwise</strong></td> -->
<td>Shopwise San Pedro</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Shopwise+San+Pedro/@14.3481849,121.0633496,17z/data=!3m1!4b1!4m5!3m4!1s0x3397d74d04b61213:0x4ccadd6aa9e52b80!8m2!3d14.3481797!4d121.0655383" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<!-- <td><strong>Shopwise</strong></td> -->
<td>Shopwise Sucat</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Shopwise+Sucat/@14.4577532,121.0332923,17z/data=!3m1!4b1!4m5!3m4!1s0x3397cfca90a7ccfb:0xa413c0a17f3e2e50!8m2!3d14.457748!4d121.035481" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<!-- OLD -->
<tr>
<td class="custom-td-2" rowspan="2"><strong>Starmall</strong></td>
<td>All Shoppe Alabang</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Starmall+Alabang/@14.4167794,121.0446219,825m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3397d039cd2bf02b:0xe26174ae05032a24!8m2!3d14.4167794!4d121.0468106" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td>Finds Finds Alabang</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Starmall+Alabang/@14.4167794,121.0446219,825m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3397d039cd2bf02b:0xe26174ae05032a24!8m2!3d14.4167794!4d121.0468106" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<tr>
<td class="custom-td-1"><strong>WalterMart</strong></td>
<td>Sta. Maria, Bulacan</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Walter+Mart+Sta.+Maria/@14.8227252,120.9516563,880m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3397ac4d5adde781:0x562cf93b97d35be!8m2!3d14.82272!4d120.953845" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></span></td>
</tr>
<!-- <tr>
<td><strong>Find Finds Bataan</strong></td>
<td>Find Finds</td>
<td><span style="color: #0000ff;"><a href="https://www.google.com/maps/place/Starmall+Alabang/@14.4167794,121.0446219,825m/data=!3m2!1e3!4b1!4m5!3m4!1s0x3397d039cd2bf02b:0xe26174ae05032a24!8m2!3d14.4167794!4d121.0468106" target="_blank" rel="noopener noreferrer" style="color: #0000ff;">Direction</a></sp an></td>
</tr> -->
</tbody>
</table>
<style><!--
/* 
  Generic Styling, for Desktops/Laptops 
  */
  table { 
    width: 100%; 
    border-collapse: collapse; 
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #f5f5f5;
  }
  th { 
    background: #000; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
  border: 1px solid #ddd;

       text-align: center;
           font-family: "Open Sans","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
           text-transform: uppercase;
  }


  img.icn_checkmark {

  width: auto;
  height: 22px;
  }



  td.custom-td-1 {
    background-color: #fff;
  }

    td.custom-td-2 {
    background-color: #f5f5f5;
  }

  /* 
  Max width before this PARTICULAR table gets nasty
  This query will take effect for any screen smaller than 760px
  and also iPads specifically.
  */
  @media 
  only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
      display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 50%; 
    }
    
    td:before { 
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%; 
      padding-right: 10px; 
      white-space: nowrap;
    }
    
    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "Store Name"; }
    td:nth-of-type(2):before { content: "Branch"; }
    td:nth-of-type(3):before { content: "Direction"; }
    td:nth-of-type(4):before { content: "Hypermarket"; }
    td:nth-of-type(5):before { content: "Supermarket"; }
    td:nth-of-type(6):before { content: "Direction"; }
    td:nth-of-type(7):before { content: "Date of Birth"; }
    td:nth-of-type(8):before { content: "Dream Vacation City"; }
    td:nth-of-type(9):before { content: "GPA"; }
    td:nth-of-type(10):before { content: "Arbitrary Data"; }
  }
--></style></div></div>
</div><div id="divContentBk"></div>