
<!-- /templates/page.liquid -->
<section class="page page-top">
  <div class="wrapper">
    <header class="content-util">

    </header>
    <header class="page-header">
     
    </header>
  </div>
</section>

{% include 'hypervisual' %}

<section class="page">
  <div class="wrapper">
    
      {{ page.content }}
    </div>
 
</section>

