<div class="gryffeditor">
<div data-label="Text Block"> <div class="elm text-edit"><style><!--
.page h4, .page .h4 {
    font-size: 1.625em;
    margin-bottom: 0;
        text-align: center;
}



.accordion4 {
    background: #fff;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: solid 1px #AE0002;
    text-align: center;
    outline: none;
    font-size: 13px;
    transition: 0.4s;
    margin: 4px;
    color: #AE0002;
    font-size: 15px;
    font-weight: 700;
}

button.accordion4.active{
background-color: #AE0002;
color: #fff;
}

button.accordion4:hover {
    background: #AE0002;
color: #fff;
}

button.accordion4:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion4.active:after {
    content: "\2212";
    color: #fff;
}

.active, .accordion4:hover {

}

.panel4 {
    
    display: none;  
    overflow: hidden;
    font-size: 12px;
      margin: 4px;
      padding:5px;
     width: 100%;
}

/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  width: 100%; 
  border-collapse: collapse; 
  border:solid 1px gray;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: whitesmoke;
  border:solid 1px gray; 
}
th { 
     background-color: #4CAF50;
  color: white; 
  font-weight: bold;


}
td, th { 
  padding-left: 6px; 
  
  
   font-size: 16px;
}


/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  tr { border: 1px solid #ccc; }
  
  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
       padding-left: 10px;
    text-align: center;

  }
  
  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
     text-align: center; 
  }

h4.customH3 {
  
    margin: 0;

}
  
  /*
  Label the data
  */
/*  td:nth-of-type(1):before { content: "SongList"; }
  td:nth-of-type(2):before { content: "Download"; }*/
--></style>
<h4 class="customH3">Free shipping nationwide* (except the following locations listed below)</h4>
<p> </p>
<button class="accordion4">SOUTH LUZON</button>
<div class="panel4">
<!-- ALBAY --> <button class="accordion4">ALBAY</button>
<div class="panel4">
<table>
<thead></thead>
<tbody>
<tr>
<td>Batan Island</td>
</tr>
<tr>
<td>Cagraray Island</td>
</tr>
<tr>
<td>Jovellar</td>
</tr>
<tr>
<td>Manito</td>
</tr>
<tr>
<td>Oas</td>
</tr>
<tr>
<td>Rapu-Rapu Island</td>
</tr>
<tr>
<td>San Miguel Island</td>
</tr>
</tbody>
</table>
</div>
<!-- BATANGAS --> <button class="accordion4">BATANGAS</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Isla Verde</td>
</tr>
<tr>
<td>Agoncillo</td>
</tr>
<tr>
<td>Balayan</td>
</tr>
<tr>
<td>Calaca</td>
</tr>
<tr>
<td>Lian</td>
</tr>
<tr>
<td>Mataas na Kahoy</td>
</tr>
<tr>
<td>Nasugbu</td>
</tr>
<tr>
<td>San Juan</td>
</tr>
<tr>
<td>San Luis</td>
</tr>
<tr>
<td>Talisay</td>
</tr>
<tr>
<td>Tingkoy Island</td>
</tr>
<tr>
<td>Tuy</td>
</tr>
</tbody>
</table>
</div>
<!-- CAMARINES NORTE --> <button class="accordion4">CAMARINES NORTE</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Daet</td>
</tr>
<tr>
<td>Imelda</td>
</tr>
<tr>
<td>Mercedes</td>
</tr>
<tr>
<td>San Vicente</td>
</tr>
<tr>
<td>Jose Panganiban</td>
</tr>
<tr>
<td>Talisay</td>
</tr>
<tr>
<td>Vinzons</td>
</tr>
<tr>
<td>Paracle</td>
</tr>
<tr>
<td>Basud</td>
</tr>
<tr>
<td>Capalonga</td>
</tr>
<tr>
<td>Santa Elena</td>
</tr>
<tr>
<td>Lobo</td>
</tr>
<tr>
<td>San Lorenzo Ruiz</td>
</tr>
<tr>
<td>Tulay na Lupa</td>
</tr>
</tbody>
</table>
</div>
<!-- CAMARINES SUR --> <button class="accordion4">CAMARINES SUR</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Baao</td>
</tr>
<tr>
<td>Balatan</td>
</tr>
<tr>
<td>Bao</td>
</tr>
<tr>
<td>Buhi</td>
</tr>
<tr>
<td>Caramoan Island</td>
</tr>
<tr>
<td>Del Gallego</td>
</tr>
<tr>
<td>Garchitorena</td>
</tr>
<tr>
<td>Goa</td>
</tr>
<tr>
<td>Lagonoy</td>
</tr>
<tr>
<td>Lupi</td>
</tr>
<tr>
<td>Nabua</td>
</tr>
<tr>
<td>Ocampo</td>
</tr>
<tr>
<td>Presentacion</td>
</tr>
<tr>
<td>Ragay</td>
</tr>
<tr>
<td>Sagnay</td>
</tr>
<tr>
<td>San Jose</td>
</tr>
<tr>
<td>Sipocot</td>
</tr>
<tr>
<td>Siruma</td>
</tr>
<tr>
<td>Tigaon</td>
</tr>
<tr>
<td>Tinambac</td>
</tr>
</tbody>
</table>
</div>
<!-- CATANDUANES --> <button class="accordion4">CATANDUANES</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Bagamanoc</td>
</tr>
<tr>
<td>Baras</td>
</tr>
<tr>
<td>Bato</td>
</tr>
<tr>
<td>Caramon</td>
</tr>
<tr>
<td>Gigmoto</td>
</tr>
<tr>
<td>Pandan</td>
</tr>
<tr>
<td>Panganiban (Payo)</td>
</tr>
<tr>
<td>San Andreas (Calolbon)</td>
</tr>
<tr>
<td>San Miguel</td>
</tr>
<tr>
<td>Viga</td>
</tr>
<tr>
<td>Virac Airport</td>
</tr>
</tbody>
</table>
</div>
<!-- LAGUNA --> <button class="accordion4">LAGUNA</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Calauan</td>
</tr>
<tr>
<td>Cavinti</td>
</tr>
<tr>
<td>Famy</td>
</tr>
<tr>
<td>Kalayaan</td>
</tr>
<tr>
<td>Laguna de Bay</td>
</tr>
<tr>
<td>Liliw</td>
</tr>
<tr>
<td>Luisiana</td>
</tr>
<tr>
<td>Lumban</td>
</tr>
<tr>
<td>Mabitac</td>
</tr>
<tr>
<td>Magdalena</td>
</tr>
<tr>
<td>Majayjay</td>
</tr>
<tr>
<td>Paete</td>
</tr>
<tr>
<td>Pagsanjan</td>
</tr>
<tr>
<td>Pakil</td>
</tr>
<tr>
<td>Pangil</td>
</tr>
<tr>
<td>Pila</td>
</tr>
<tr>
<td>Siniloan</td>
</tr>
<tr>
<td>Sta. Cruz</td>
</tr>
<tr>
<td>Sta. Maria</td>
</tr>
<tr>
<td>Victoria</td>
</tr>
</tbody>
</table>
</div>
<!-- MASBATE --> <button class="accordion4">MASBATE</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Aroroy, Islands</td>
</tr>
<tr>
<td>Aroroy Poblacion</td>
</tr>
<tr>
<td>Baleno</td>
</tr>
<tr>
<td>Balud</td>
</tr>
<tr>
<td>Batuan Ticao Island</td>
</tr>
<tr>
<td>Burias Island</td>
</tr>
<tr>
<td>Buenavista</td>
</tr>
<tr>
<td>Cataingan</td>
</tr>
<tr>
<td>Catampan</td>
</tr>
<tr>
<td>Cawayan</td>
</tr>
<tr>
<td>Claveria</td>
</tr>
<tr>
<td>Dimsalang</td>
</tr>
<tr>
<td>Esperanza</td>
</tr>
<tr>
<td>Mandaon</td>
</tr>
<tr>
<td>Masbate City</td>
</tr>
<tr>
<td>Milagros</td>
</tr>
<tr>
<td>Mobo</td>
</tr>
<tr>
<td>Monreal Ticao Island</td>
</tr>
<tr>
<td>Palanas</td>
</tr>
<tr>
<td>Pio V. Corpuz</td>
</tr>
<tr>
<td>Placer</td>
</tr>
<tr>
<td>San Fernando Ticao Island</td>
</tr>
<tr>
<td>San Jacinto Ticao Island</td>
</tr>
<tr>
<td>San Pascual</td>
</tr>
<tr>
<td>Uson</td>
</tr>
</tbody>
</table>
</div>
<!-- MARINDUQUE --> <button class="accordion4">MARINDUQUE</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Baoc Capital</td>
</tr>
<tr>
<td>Buenavista</td>
</tr>
<tr>
<td>Gasan</td>
</tr>
<tr>
<td>Mogpog</td>
</tr>
<tr>
<td>Sta. Cruz</td>
</tr>
<tr>
<td>Torrijos</td>
</tr>
</tbody>
</table>
</div>
<!-- MINDORO OCCIDENTAL --> <button class="accordion4">MINDORO OCCIDENTAL</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Abra de Ilog</td>
</tr>
<tr>
<td>Calintaan</td>
</tr>
<tr>
<td>Magsaysay</td>
</tr>
<tr>
<td>Mamburao</td>
</tr>
<tr>
<td>Rizal</td>
</tr>
<tr>
<td>Sablyan</td>
</tr>
<tr>
<td>Santa Cruz</td>
</tr>
<tr>
<td>Looc Luban Island</td>
</tr>
<tr>
<td>Lubang Lubang Island</td>
</tr>
<tr>
<td>Paluan</td>
</tr>
<tr>
<td>Ilin Island</td>
</tr>
</tbody>
</table>
</div>
<!-- MINDORO ORIENTAL --> <button class="accordion4">MINDORO ORIENTAL</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Baco</td>
</tr>
<tr>
<td>Bansud</td>
</tr>
<tr>
<td>Bongabong</td>
</tr>
<tr>
<td>Bulalacao</td>
</tr>
<tr>
<td>Calapan City</td>
</tr>
<tr>
<td>Gloria</td>
</tr>
<tr>
<td>Mansalay</td>
</tr>
<tr>
<td>Naujan</td>
</tr>
<tr>
<td>Pinamalayan</td>
</tr>
<tr>
<td>Pola</td>
</tr>
<tr>
<td>Puerto Galera</td>
</tr>
<tr>
<td>Roxas</td>
</tr>
<tr>
<td>San Teodoro</td>
</tr>
<tr>
<td>Socorro</td>
</tr>
<tr>
<td>Victoria</td>
</tr>
</tbody>
</table>
</div>
<!-- PALAWAN --> <button class="accordion4">PALAWAN</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Aborlan</td>
</tr>
<tr>
<td>Agutaya</td>
</tr>
<tr>
<td>Araceli</td>
</tr>
<tr>
<td>Balabac Island</td>
</tr>
<tr>
<td>Brookes Point</td>
</tr>
<tr>
<td>Bugsuk Island</td>
</tr>
<tr>
<td>Busuanga Island</td>
</tr>
<tr>
<td>Cagayancillo Island</td>
</tr>
<tr>
<td>Coron Island</td>
</tr>
<tr>
<td>Culion Island</td>
</tr>
<tr>
<td>Cuyo Island</td>
</tr>
<tr>
<td>Dumaran Island</td>
</tr>
<tr>
<td>El Nido (Baquit)</td>
</tr>
<tr>
<td>Island in Honda Bay</td>
</tr>
<tr>
<td>Kalayaan Island</td>
</tr>
<tr>
<td>Lagen Island</td>
</tr>
<tr>
<td>Linapacan Island</td>
</tr>
<tr>
<td>Magsaysay</td>
</tr>
<tr>
<td>Miniloc Island</td>
</tr>
<tr>
<td>Narra</td>
</tr>
<tr>
<td>Quezon</td>
</tr>
<tr>
<td>Rizal</td>
</tr>
<tr>
<td>Roxas</td>
</tr>
<tr>
<td>San Vicente</td>
</tr>
<tr>
<td>Taytay</td>
</tr>
</tbody>
</table>
</div>
<!-- QUEZON PROVINCE --> <button class="accordion4">QUEZON PROVINCE</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Agdangan</td>
</tr>
<tr>
<td>Alabat Island</td>
</tr>
<tr>
<td>Buenavista</td>
</tr>
<tr>
<td>Burdeos Polillo Island</td>
</tr>
<tr>
<td>Catanauan</td>
</tr>
<tr>
<td>Dolores</td>
</tr>
<tr>
<td>General Luna</td>
</tr>
<tr>
<td>General Nakar</td>
</tr>
<tr>
<td>Guinayangan</td>
</tr>
<tr>
<td>Gumaca</td>
</tr>
<tr>
<td>Infanta</td>
</tr>
<tr>
<td>Jomalig Island</td>
</tr>
<tr>
<td>Lopez</td>
</tr>
<tr>
<td>Lucban</td>
</tr>
<tr>
<td>Macalelon</td>
</tr>
<tr>
<td>Mauban</td>
</tr>
<tr>
<td>Mulanay</td>
</tr>
<tr>
<td>Padre Burgpos</td>
</tr>
<tr>
<td>Pabukulan Polillo Island</td>
</tr>
<tr>
<td>Patnanungan Island</td>
</tr>
<tr>
<td>Perez Alabat Island</td>
</tr>
<tr>
<td>Pitogo</td>
</tr>
<tr>
<td>Plaridel</td>
</tr>
<tr>
<td>Polillo Island</td>
</tr>
<tr>
<td>Quezon Alabat Island</td>
</tr>
<tr>
<td>Real</td>
</tr>
<tr>
<td>Sampaloc</td>
</tr>
<tr>
<td>San Andreas</td>
</tr>
<tr>
<td>San Francisco</td>
</tr>
<tr>
<td>San Narciso</td>
</tr>
<tr>
<td>Tagkawayan</td>
</tr>
<tr>
<td>Unisan</td>
</tr>
</tbody>
</table>
</div>
<!-- ROMBLON --> <button class="accordion4">ROMBLON</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Alcantara</td>
</tr>
<tr>
<td>Cajidiocan</td>
</tr>
<tr>
<td>Calatrava</td>
</tr>
<tr>
<td>Carmen</td>
</tr>
<tr>
<td>Concepcion</td>
</tr>
<tr>
<td>Ferrol</td>
</tr>
<tr>
<td>Looc</td>
</tr>
<tr>
<td>Mandiwag</td>
</tr>
<tr>
<td>Odiongan</td>
</tr>
<tr>
<td>Romblon</td>
</tr>
<tr>
<td>Sante Fe</td>
</tr>
<tr>
<td>San Agustin</td>
</tr>
<tr>
<td>San Andres</td>
</tr>
<tr>
<td>San Fernando</td>
</tr>
<tr>
<td>Bonton Island</td>
</tr>
<tr>
<td>Corcuera Island</td>
</tr>
<tr>
<td>San Jose Island</td>
</tr>
<tr>
<td>Sibuyan Island</td>
</tr>
<tr>
<td>Tabias Island</td>
</tr>
</tbody>
</table>
</div>
<!-- SORSOGON --> <button class="accordion4">SORSOGON</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Bacon</td>
</tr>
<tr>
<td>Barcelona</td>
</tr>
<tr>
<td>Bulan</td>
</tr>
<tr>
<td>Bulusan</td>
</tr>
<tr>
<td>Casiguran</td>
</tr>
<tr>
<td>Castilla</td>
</tr>
<tr>
<td>Donsol</td>
</tr>
<tr>
<td>Gubat</td>
</tr>
<tr>
<td>Irusin</td>
</tr>
<tr>
<td>Juban</td>
</tr>
<tr>
<td>Magallanes</td>
</tr>
<tr>
<td>Matnog</td>
</tr>
<tr>
<td>Pilar</td>
</tr>
<tr>
<td>Prieto Diaz</td>
</tr>
<tr>
<td>Sorsogon</td>
</tr>
<tr>
<td>Sta. Magdalena</td>
</tr>
</tbody>
</table>
</div>
</div>
<br> <button class="accordion4">NORTH LUZON</button>
<div class="panel4">
<!-- ABRA --> <button class="accordion4">ABRA</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Boliney</td>
</tr>
<tr>
<td>Bucay</td>
</tr>
<tr>
<td>Bucloc</td>
</tr>
<tr>
<td>Daguioman</td>
</tr>
<tr>
<td>Lacub</td>
</tr>
<tr>
<td>Langiben</td>
</tr>
<tr>
<td>Licuan</td>
</tr>
<tr>
<td>Luba</td>
</tr>
<tr>
<td>Malibcong</td>
</tr>
<tr>
<td>Manabo</td>
</tr>
<tr>
<td>Pidigan</td>
</tr>
<tr>
<td>Pilar</td>
</tr>
<tr>
<td>Sallapadan</td>
</tr>
<tr>
<td>San Juan</td>
</tr>
<tr>
<td>San Quintin</td>
</tr>
<tr>
<td>Tineg</td>
</tr>
<tr>
<td>Tubo</td>
</tr>
<tr>
<td>Villaviciosa</td>
</tr>
</tbody>
</table>
</div>
<!-- IFUGAO --> <button class="accordion4">IFUGAO</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Aguinaldo</td>
</tr>
<tr>
<td>Asipulo</td>
</tr>
<tr>
<td>Banaue</td>
</tr>
<tr>
<td>Hingyon</td>
</tr>
<tr>
<td>Hungduan</td>
</tr>
<tr>
<td>Kiangan</td>
</tr>
<tr>
<td>Lagawe</td>
</tr>
<tr>
<td>Lamut</td>
</tr>
<tr>
<td>Mayaoyao (Mayoyao)</td>
</tr>
<tr>
<td>Potia</td>
</tr>
<tr>
<td>Tinoc</td>
</tr>
</tbody>
</table>
</div>
<!-- CAGAYAN VALLEY --> <button class="accordion4">CAGAYAN VALLEY</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Abulug</td>
</tr>
<tr>
<td>Alcala</td>
</tr>
<tr>
<td>Allacapan</td>
</tr>
<tr>
<td>Amulung</td>
</tr>
<tr>
<td>Aparri</td>
</tr>
<tr>
<td>Baggao</td>
</tr>
<tr>
<td>Ballesteros</td>
</tr>
<tr>
<td>Buguey</td>
</tr>
<tr>
<td>Camalanuigan</td>
</tr>
<tr>
<td>Claveria</td>
</tr>
<tr>
<td>Gattaran</td>
</tr>
<tr>
<td>Gonzaga</td>
</tr>
<tr>
<td>Lal-lo</td>
</tr>
<tr>
<td>Lasam</td>
</tr>
<tr>
<td>Pamplona</td>
</tr>
<tr>
<td>Piat</td>
</tr>
<tr>
<td>Rizal</td>
</tr>
<tr>
<td>Sanchez - Mira</td>
</tr>
<tr>
<td>Santa Ana</td>
</tr>
<tr>
<td>Santa Praxedes</td>
</tr>
<tr>
<td>Santa Teresita</td>
</tr>
<tr>
<td>Santo Nino</td>
</tr>
<tr>
<td>Tuao</td>
</tr>
<tr>
<td>Calayan Island</td>
</tr>
<tr>
<td>Babuyan Island</td>
</tr>
<tr>
<td>Camiguin Island</td>
</tr>
<tr>
<td>Fuga Island</td>
</tr>
<tr>
<td>Dalupiri Island</td>
</tr>
</tbody>
</table>
</div>
<!-- BATANES GROUP OF ISLANDS  --> <button class="accordion4">BATANES GROUP OF ISLANDS</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Basco</td>
</tr>
<tr>
<td>Itbayat</td>
</tr>
<tr>
<td>Ivana</td>
</tr>
<tr>
<td>Mahatao</td>
</tr>
<tr>
<td>Sabtang</td>
</tr>
<tr>
<td>Uyugan</td>
</tr>
</tbody>
</table>
</div>
<!-- MOUNTAIN PROVINCE  --> <button class="accordion4">MOUNTAIN PROVINCE</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Barlig</td>
</tr>
<tr>
<td>Bauko</td>
</tr>
<tr>
<td>Besao</td>
</tr>
<tr>
<td>Bontoc</td>
</tr>
<tr>
<td>Natonin</td>
</tr>
<tr>
<td>Paracelis</td>
</tr>
<tr>
<td>Sabangan</td>
</tr>
<tr>
<td>Sadanga</td>
</tr>
<tr>
<td>Sagada</td>
</tr>
<tr>
<td>Tadian</td>
</tr>
</tbody>
</table>
</div>
<!-- ISABELA --> <button class="accordion4">ISABELA</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Maconacon</td>
</tr>
<tr>
<td>Divilacan</td>
</tr>
<tr>
<td>Palanan</td>
</tr>
<tr>
<td>Dinapigue</td>
</tr>
</tbody>
</table>
</div>
<!-- ILOCOS NORTE --> <button class="accordion4">ILOCOS NORTE</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Adams</td>
</tr>
<tr>
<td>Bangui</td>
</tr>
<tr>
<td>Burgos</td>
</tr>
<tr>
<td>Carazi</td>
</tr>
<tr>
<td>Dumaldeg</td>
</tr>
<tr>
<td>Espiritu/Banna</td>
</tr>
<tr>
<td>Marcos</td>
</tr>
<tr>
<td>Nueva Era</td>
</tr>
<tr>
<td>Pagudpud</td>
</tr>
</tbody>
</table>
</div>
<!-- ILOCOS SUR --> <button class="accordion4">ILOCOS SUR</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Cervantes</td>
</tr>
<tr>
<td>Gregorio del Pilar</td>
</tr>
<tr>
<td>Nagbukel</td>
</tr>
<tr>
<td>Santa Maria</td>
</tr>
<tr>
<td>Sigay</td>
</tr>
<tr>
<td>Sugpon</td>
</tr>
</tbody>
</table>
</div>
<!-- KALINGA APAYAO --> <button class="accordion4">KALINGA APAYAO</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Balbalan</td>
</tr>
<tr>
<td>Calanasan</td>
</tr>
<tr>
<td>Conner</td>
</tr>
<tr>
<td>Flora</td>
</tr>
<tr>
<td>Kabugao</td>
</tr>
<tr>
<td>Lubuagah</td>
</tr>
<tr>
<td>Luna</td>
</tr>
<tr>
<td>Pasil</td>
</tr>
<tr>
<td>Pinukpuk</td>
</tr>
<tr>
<td>Pudtol</td>
</tr>
<tr>
<td>Rizal</td>
</tr>
<tr>
<td>Sta. Marcela</td>
</tr>
<tr>
<td>Tabuk</td>
</tr>
<tr>
<td>Tanudan</td>
</tr>
<tr>
<td>Tinglayan</td>
</tr>
</tbody>
</table>
</div>
<!-- NUEVA VIZCAYA --> <button class="accordion4">NUEVA VIZCAYA</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Alfonso Castaneda</td>
</tr>
</tbody>
</table>
</div>
<!-- LA UNION --> <button class="accordion4">LA UNION</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Luna</td>
</tr>
<tr>
<td>Poro Point</td>
</tr>
<tr>
<td>Santol</td>
</tr>
</tbody>
</table>
</div>
<!-- NUEVA ECIJA --> <button class="accordion4">NUEVA ECIJA</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Bongabon</td>
</tr>
<tr>
<td>Cabiao</td>
</tr>
<tr>
<td>Cuyapo</td>
</tr>
<tr>
<td>Gabaldon</td>
</tr>
<tr>
<td>Gen. Tino (Payapa)</td>
</tr>
<tr>
<td>Licab</td>
</tr>
<tr>
<td>Quezon</td>
</tr>
<tr>
<td>San Isidro</td>
</tr>
</tbody>
</table>
</div>
<!-- QUIRINO PROVINCE--> <button class="accordion4">QUIRINO PROVINCE</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Aglipay</td>
</tr>
<tr>
<td>Cabarruguis</td>
</tr>
<tr>
<td>Diffun</td>
</tr>
<tr>
<td>Maddela</td>
</tr>
<tr>
<td>Nagtipunan (Abbag)</td>
</tr>
<tr>
<td>Saguday</td>
</tr>
</tbody>
</table>
</div>
<!-- AURORA PROVINCE--> <button class="accordion4">AURORA PROVINCE</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Baler</td>
</tr>
<tr>
<td>Casiguran</td>
</tr>
<tr>
<td>Dilasag</td>
</tr>
<tr>
<td>Dinajawan</td>
</tr>
<tr>
<td>Dinalungan</td>
</tr>
<tr>
<td>Dingalan</td>
</tr>
<tr>
<td>Dipaculao</td>
</tr>
<tr>
<td>Maria Aurora</td>
</tr>
<tr>
<td>San Luis</td>
</tr>
</tbody>
</table>
</div>
<!-- PANGASINAN--> <button class="accordion4">PANGASINAN</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Malasiqui</td>
</tr>
<tr>
<td>Manaoag</td>
</tr>
<tr>
<td>Mapandan</td>
</tr>
<tr>
<td>Agno</td>
</tr>
<tr>
<td>Alaminos</td>
</tr>
<tr>
<td>Anda</td>
</tr>
<tr>
<td>Bani</td>
</tr>
<tr>
<td>Bolinao</td>
</tr>
<tr>
<td>Burgos</td>
</tr>
<tr>
<td>Dasol</td>
</tr>
<tr>
<td>Infanta</td>
</tr>
<tr>
<td>Mabini</td>
</tr>
<tr>
<td>Sual</td>
</tr>
<tr>
<td>Natividad</td>
</tr>
<tr>
<td>San Nicolas</td>
</tr>
<tr>
<td>Santa Maria</td>
</tr>
</tbody>
</table>
</div>
<!-- ZAMBALAES --> <button class="accordion4">ZAMBALAES</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Candelaria</td>
</tr>
<tr>
<td>Masinloc</td>
</tr>
<tr>
<td>Santa Cruz</td>
</tr>
</tbody>
</table>
</div>
</div>
<!--  END MAIN ACCORDION NORTH LUZON--> <button class="accordion4">VISAYAS</button>
<div class="panel4">
<!-- VISAYAS --> <!-- AKLAN --> <button class="accordion4">AKLAN</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Altavas</td>
</tr>
<tr>
<td>Batan</td>
</tr>
<tr>
<td>Buruanga</td>
</tr>
<tr>
<td>Ibajay</td>
</tr>
<tr>
<td>Libacao</td>
</tr>
<tr>
<td>Madalag</td>
</tr>
<tr>
<td>Makato</td>
</tr>
<tr>
<td>Malay</td>
</tr>
<tr>
<td>Malay (Boracay)</td>
</tr>
<tr>
<td>Nabas</td>
</tr>
</tbody>
</table>
</div>
<!-- ANTIQUE --> <button class="accordion4">ANTIQUE</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Anini-y</td>
</tr>
<tr>
<td>Barbaza</td>
</tr>
<tr>
<td>Belison</td>
</tr>
<tr>
<td>Bugasong</td>
</tr>
<tr>
<td>Caluya Island</td>
</tr>
<tr>
<td>Culasi</td>
</tr>
<tr>
<td>Hamtic</td>
</tr>
<tr>
<td>Laua-an</td>
</tr>
<tr>
<td>Libertad</td>
</tr>
<tr>
<td>Pan-ay</td>
</tr>
<tr>
<td>Pandan</td>
</tr>
<tr>
<td>Patnongon</td>
</tr>
<tr>
<td>Pontevedra</td>
</tr>
<tr>
<td>Mag-ayon</td>
</tr>
<tr>
<td>San Jose</td>
</tr>
<tr>
<td>San Remegio</td>
</tr>
<tr>
<td>Sebaste</td>
</tr>
<tr>
<td>Sibalom</td>
</tr>
<tr>
<td>Tibiao</td>
</tr>
<tr>
<td>Tobias Fornier (Dao)</td>
</tr>
<tr>
<td>Valderrama</td>
</tr>
</tbody>
</table>
</div>
<!-- BILIRAN --> <button class="accordion4">BILIRAN</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Almeria</td>
</tr>
<tr>
<td>Biliran</td>
</tr>
<tr>
<td>Cabucgayan</td>
</tr>
<tr>
<td>Caibiran</td>
</tr>
<tr>
<td>Culaba</td>
</tr>
<tr>
<td>Kawayan</td>
</tr>
<tr>
<td>Maripipi Island</td>
</tr>
<tr>
<td>Naval</td>
</tr>
</tbody>
</table>
</div>
<!-- BOHOL --> <button class="accordion4">BOHOL</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Alicia</td>
</tr>
<tr>
<td>Anda</td>
</tr>
<tr>
<td>Batuan</td>
</tr>
<tr>
<td>Bien Unido</td>
</tr>
<tr>
<td>Bilar</td>
</tr>
<tr>
<td>Buenavista</td>
</tr>
<tr>
<td>Calape</td>
</tr>
<tr>
<td>Candijay</td>
</tr>
<tr>
<td>Carmen</td>
</tr>
<tr>
<td>Catigbian</td>
</tr>
<tr>
<td>Clarin</td>
</tr>
<tr>
<td>Dagohoy</td>
</tr>
<tr>
<td>Donao</td>
</tr>
<tr>
<td>Dimiao</td>
</tr>
<tr>
<td>Duero</td>
</tr>
<tr>
<td>Garcia Hernandez</td>
</tr>
<tr>
<td>Guindulman</td>
</tr>
<tr>
<td>Inabangan</td>
</tr>
<tr>
<td>Jagna</td>
</tr>
<tr>
<td>Jetafe</td>
</tr>
<tr>
<td>Mabini</td>
</tr>
<tr>
<td>Pilar</td>
</tr>
<tr>
<td>Pres. Garcia</td>
</tr>
<tr>
<td>Sagbayan</td>
</tr>
<tr>
<td>San Isidro</td>
</tr>
<tr>
<td>San Miguel</td>
</tr>
<tr>
<td>Sevilla</td>
</tr>
<tr>
<td>Sierra Bullones</td>
</tr>
<tr>
<td>Talibon</td>
</tr>
<tr>
<td>Trinidad</td>
</tr>
<tr>
<td>Tubigon</td>
</tr>
<tr>
<td>Ubay</td>
</tr>
<tr>
<td>Valencia</td>
</tr>
</tbody>
</table>
</div>
<!-- CAPIZ --> <button class="accordion4">CAPIZ</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Cuartero</td>
</tr>
<tr>
<td>Dao</td>
</tr>
<tr>
<td>Dumalag</td>
</tr>
<tr>
<td>Dumarao</td>
</tr>
<tr>
<td>Jamindan</td>
</tr>
<tr>
<td>Mambusao</td>
</tr>
<tr>
<td>Pilar</td>
</tr>
<tr>
<td>Pres. Roxas</td>
</tr>
<tr>
<td>Sigma</td>
</tr>
<tr>
<td>Tapaz</td>
</tr>
</tbody>
</table>
</div>
<!-- CEBU --> <button class="accordion4">CEBU</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Alcantara</td>
</tr>
<tr>
<td>Alcoy</td>
</tr>
<tr>
<td>Alegria</td>
</tr>
<tr>
<td>Aloguinsan</td>
</tr>
<tr>
<td>Argao</td>
</tr>
<tr>
<td>Asturias</td>
</tr>
<tr>
<td>Badian</td>
</tr>
<tr>
<td>Balamban</td>
</tr>
<tr>
<td>Bantayan</td>
</tr>
<tr>
<td>Barili</td>
</tr>
<tr>
<td>Bogo City</td>
</tr>
<tr>
<td>Boljoon</td>
</tr>
<tr>
<td>Borbon</td>
</tr>
<tr>
<td>Carcar</td>
</tr>
<tr>
<td>Carmen</td>
</tr>
<tr>
<td>Catmon</td>
</tr>
<tr>
<td>Daan Bantayan</td>
</tr>
<tr>
<td>Dalaguete</td>
</tr>
<tr>
<td>Danao</td>
</tr>
<tr>
<td>Dumanjug</td>
</tr>
<tr>
<td>Ginatilan</td>
</tr>
<tr>
<td>Madridejos Bantayan Island</td>
</tr>
<tr>
<td>Malabuyoc</td>
</tr>
<tr>
<td>Medellin</td>
</tr>
<tr>
<td>Moalboal</td>
</tr>
<tr>
<td>Oslob</td>
</tr>
<tr>
<td>Pilar Camotes</td>
</tr>
<tr>
<td>Pinamungajan</td>
</tr>
<tr>
<td>Poblacion Bantayan Island</td>
</tr>
<tr>
<td>Poro Island</td>
</tr>
<tr>
<td>Ronda</td>
</tr>
<tr>
<td>Samboan</td>
</tr>
<tr>
<td>San Fernando</td>
</tr>
<tr>
<td>San Francisco Camotes Island</td>
</tr>
<tr>
<td>San Remegio</td>
</tr>
<tr>
<td>Sante Fe</td>
</tr>
<tr>
<td>Santander</td>
</tr>
<tr>
<td>Sibonga</td>
</tr>
<tr>
<td>Sogod</td>
</tr>
<tr>
<td>Tabongon</td>
</tr>
<tr>
<td>Tabuena</td>
</tr>
<tr>
<td>Toledo City</td>
</tr>
<tr>
<td>Tuburan</td>
</tr>
</tbody>
</table>
</div>
<!-- EASTERN SAMAR --> <button class="accordion4">EASTERN SAMAR</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Arteche</td>
</tr>
<tr>
<td>Balangiga</td>
</tr>
<tr>
<td>Balangkayan</td>
</tr>
<tr>
<td>Borongan City</td>
</tr>
<tr>
<td>Can-avid</td>
</tr>
<tr>
<td>Dolores</td>
</tr>
<tr>
<td>Gen MacArthur</td>
</tr>
<tr>
<td>Giporlos</td>
</tr>
<tr>
<td>Guiuan</td>
</tr>
<tr>
<td>Hermani</td>
</tr>
<tr>
<td>Jipapad</td>
</tr>
<tr>
<td>Lawaan</td>
</tr>
<tr>
<td>Llorente</td>
</tr>
<tr>
<td>Maslog</td>
</tr>
<tr>
<td>Mercedes</td>
</tr>
<tr>
<td>Oras</td>
</tr>
<tr>
<td>Quinapondan</td>
</tr>
<tr>
<td>Salcedo</td>
</tr>
<tr>
<td>San Julian</td>
</tr>
<tr>
<td>San Policarpio</td>
</tr>
<tr>
<td>Sulat</td>
</tr>
<tr>
<td>Taft</td>
</tr>
</tbody>
</table>
</div>
<!-- GUIMARAS --> <button class="accordion4">GUIMARAS</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Buenavista</td>
</tr>
<tr>
<td>Jordan</td>
</tr>
<tr>
<td>Nueva Valencia</td>
</tr>
<tr>
<td>San Lorenzo</td>
</tr>
<tr>
<td>Sibunag</td>
</tr>
<tr>
<td>San Miguel</td>
</tr>
</tbody>
</table>
</div>
<!-- ILOILO --> <button class="accordion4">ILOILO</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Ajuy</td>
</tr>
<tr>
<td>Anilao</td>
</tr>
<tr>
<td>Bandiangan</td>
</tr>
<tr>
<td>Balasan</td>
</tr>
<tr>
<td>Baneta</td>
</tr>
<tr>
<td>Barotac Nuevo</td>
</tr>
<tr>
<td>Barotac Viejo</td>
</tr>
<tr>
<td>Batad</td>
</tr>
<tr>
<td>Bingawan</td>
</tr>
<tr>
<td>Calinog</td>
</tr>
<tr>
<td>Carles</td>
</tr>
<tr>
<td>Concepcion</td>
</tr>
<tr>
<td>Dingle</td>
</tr>
<tr>
<td>Duenas</td>
</tr>
<tr>
<td>Dumangas</td>
</tr>
<tr>
<td>Estancia</td>
</tr>
<tr>
<td>Igbaras</td>
</tr>
<tr>
<td>Janiuay</td>
</tr>
<tr>
<td>Lambunao</td>
</tr>
<tr>
<td>Lemery</td>
</tr>
<tr>
<td>Miagao</td>
</tr>
<tr>
<td>Mina</td>
</tr>
<tr>
<td>Passi City</td>
</tr>
<tr>
<td>Pototan</td>
</tr>
<tr>
<td>San Dionisio</td>
</tr>
<tr>
<td>San Enrique</td>
</tr>
<tr>
<td>San Joaquin</td>
</tr>
<tr>
<td>San Rafaek</td>
</tr>
<tr>
<td>Sara</td>
</tr>
<tr>
<td>Tubungan</td>
</tr>
</tbody>
</table>
</div>
<!-- LEYTE --> <button class="accordion4">LEYTE</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Abuyog</td>
</tr>
<tr>
<td>Albuera</td>
</tr>
<tr>
<td>Babatngon</td>
</tr>
<tr>
<td>Barugo</td>
</tr>
<tr>
<td>Bato</td>
</tr>
<tr>
<td>Baybay</td>
</tr>
<tr>
<td>Burauen</td>
</tr>
<tr>
<td>Calubian</td>
</tr>
<tr>
<td>Capoocan</td>
</tr>
<tr>
<td>Carigara</td>
</tr>
<tr>
<td>Dagami</td>
</tr>
<tr>
<td>Dulag</td>
</tr>
<tr>
<td>Hilongos</td>
</tr>
<tr>
<td>Hindang</td>
</tr>
<tr>
<td>Inopacan</td>
</tr>
<tr>
<td>Jaro</td>
</tr>
<tr>
<td>Javier</td>
</tr>
<tr>
<td>Julita</td>
</tr>
<tr>
<td>Kananga</td>
</tr>
<tr>
<td>Lapaz</td>
</tr>
<tr>
<td>Leyte</td>
</tr>
<tr>
<td>Mahalag</td>
</tr>
<tr>
<td>Matab-ob</td>
</tr>
<tr>
<td>Matalom</td>
</tr>
<tr>
<td>Mayorga</td>
</tr>
<tr>
<td>McArthur</td>
</tr>
<tr>
<td>Merida</td>
</tr>
<tr>
<td>Ormoc City</td>
</tr>
<tr>
<td>Palo</td>
</tr>
<tr>
<td>Palompon</td>
</tr>
<tr>
<td>San Isidro</td>
</tr>
<tr>
<td>San Miguel</td>
</tr>
<tr>
<td>Tabango</td>
</tr>
<tr>
<td>Tabontabon</td>
</tr>
<tr>
<td>Tunga</td>
</tr>
<tr>
<td>Villaba</td>
</tr>
<tr>
<td>Isabel</td>
</tr>
</tbody>
</table>
</div>
<!-- NEGROS OCCIDENTAL --> <button class="accordion4">NEGROS OCCIDENTAL</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Binalbagan</td>
</tr>
<tr>
<td>Cadiz City</td>
</tr>
<tr>
<td>Calatrava</td>
</tr>
<tr>
<td>Candoni</td>
</tr>
<tr>
<td>Cauayan</td>
</tr>
<tr>
<td>Escalante</td>
</tr>
<tr>
<td>Himamaylan</td>
</tr>
<tr>
<td>Hinigaran</td>
</tr>
<tr>
<td>Hinobaan</td>
</tr>
<tr>
<td>Ilog</td>
</tr>
<tr>
<td>Isabela</td>
</tr>
<tr>
<td>Kabankalan</td>
</tr>
<tr>
<td>La Carlota</td>
</tr>
<tr>
<td>La Castellana</td>
</tr>
<tr>
<td>Manapla</td>
</tr>
<tr>
<td>Moises Padilla</td>
</tr>
<tr>
<td>Pontevedra</td>
</tr>
<tr>
<td>Pulupundan</td>
</tr>
<tr>
<td>Sagay City</td>
</tr>
<tr>
<td>Salvador Benedicto</td>
</tr>
<tr>
<td>San Carlos City</td>
</tr>
<tr>
<td>San Enrique</td>
</tr>
<tr>
<td>Sipalay</td>
</tr>
<tr>
<td>Toboso</td>
</tr>
<tr>
<td>Valladolid</td>
</tr>
</tbody>
</table>
</div>
<!-- NEGROS ORIENTAL --> <button class="accordion4">NEGROS ORIENTAL</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Ayungon</td>
</tr>
<tr>
<td>Bais City</td>
</tr>
<tr>
<td>Basay</td>
</tr>
<tr>
<td>Bayawan</td>
</tr>
<tr>
<td>Bindoy</td>
</tr>
<tr>
<td>Canlaon City</td>
</tr>
<tr>
<td>Guihulngan</td>
</tr>
<tr>
<td>Jimalalud</td>
</tr>
<tr>
<td>La Libertad</td>
</tr>
<tr>
<td>Mabinay</td>
</tr>
<tr>
<td>Manjuyod</td>
</tr>
<tr>
<td>Pamplona</td>
</tr>
<tr>
<td>Santa Catalina</td>
</tr>
<tr>
<td>Siaton</td>
</tr>
<tr>
<td>Tanjay</td>
</tr>
<tr>
<td>Tayasan</td>
</tr>
<tr>
<td>Vallehermosa</td>
</tr>
</tbody>
</table>
</div>
<!-- NORTHERN SAMAR --> <button class="accordion4">NORTHERN SAMAR</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Allen</td>
</tr>
<tr>
<td>Biri Island</td>
</tr>
<tr>
<td>Bobon</td>
</tr>
<tr>
<td>Capul Island</td>
</tr>
<tr>
<td>Catarman</td>
</tr>
<tr>
<td>Catubig</td>
</tr>
<tr>
<td>Gamay</td>
</tr>
<tr>
<td>Laoang Island</td>
</tr>
<tr>
<td>Lapanig</td>
</tr>
<tr>
<td>Las Navas</td>
</tr>
<tr>
<td>Lavezares</td>
</tr>
<tr>
<td>Lope de Vega</td>
</tr>
<tr>
<td>Mapanas</td>
</tr>
<tr>
<td>Mondragon</td>
</tr>
<tr>
<td>Pambujan</td>
</tr>
<tr>
<td>Rosario</td>
</tr>
<tr>
<td>San Antonio Island</td>
</tr>
<tr>
<td>San Isidro</td>
</tr>
<tr>
<td>San Roque</td>
</tr>
<tr>
<td>San Vicente Island</td>
</tr>
<tr>
<td>Silvino Lobos</td>
</tr>
<tr>
<td>Victoria</td>
</tr>
<tr>
<td>San Jose</td>
</tr>
<tr>
<td>Palapag</td>
</tr>
</tbody>
</table>
</div>
<!-- WESTERN SAMAR --> <button class="accordion4">WESTERN SAMAR</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Almagro Island</td>
</tr>
<tr>
<td>Basey</td>
</tr>
<tr>
<td>Calbayog City</td>
</tr>
<tr>
<td>Calbiga</td>
</tr>
<tr>
<td>Catbalalogan</td>
</tr>
<tr>
<td>Daram Island</td>
</tr>
<tr>
<td>Gandara</td>
</tr>
<tr>
<td>Hinabangan</td>
</tr>
<tr>
<td>Jiabong</td>
</tr>
<tr>
<td>Marabut</td>
</tr>
<tr>
<td>Matuguinao</td>
</tr>
<tr>
<td>Motiong</td>
</tr>
<tr>
<td>Oquendo</td>
</tr>
<tr>
<td>Pagsanghan</td>
</tr>
<tr>
<td>Paranas</td>
</tr>
<tr>
<td>Pinagbacdao</td>
</tr>
<tr>
<td>San Jorge</td>
</tr>
<tr>
<td>San Jose de Bauan</td>
</tr>
<tr>
<td>San Sebastian</td>
</tr>
<tr>
<td>Santa Margarita</td>
</tr>
<tr>
<td>Santa Rita</td>
</tr>
<tr>
<td>Santo Nino Island</td>
</tr>
<tr>
<td>Tagapul-an Island</td>
</tr>
<tr>
<td>Talalora</td>
</tr>
<tr>
<td>Taranganan</td>
</tr>
<tr>
<td>Tinanbaca</td>
</tr>
<tr>
<td>Villareal</td>
</tr>
<tr>
<td>Zumarraga Island</td>
</tr>
</tbody>
</table>
</div>
<!-- SIQUIJOR --> <button class="accordion4">SIQUIJOR</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Enrique Villanueva</td>
</tr>
<tr>
<td>Larena</td>
</tr>
<tr>
<td>Lazi</td>
</tr>
<tr>
<td>Maria</td>
</tr>
<tr>
<td>San Juan</td>
</tr>
<tr>
<td>Siquijor</td>
</tr>
</tbody>
</table>
</div>
<!-- SOUTHERN LEYTE --> <button class="accordion4">SOUTHERN LEYTE</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Anahawan</td>
</tr>
<tr>
<td>Bontoc</td>
</tr>
<tr>
<td>Hinunangan</td>
</tr>
<tr>
<td>Hinanduyan</td>
</tr>
<tr>
<td>Libagon</td>
</tr>
<tr>
<td>Liloan</td>
</tr>
<tr>
<td>Limasawa</td>
</tr>
<tr>
<td>Maasin</td>
</tr>
<tr>
<td>Macrohon</td>
</tr>
<tr>
<td>Malitbog</td>
</tr>
<tr>
<td>Padre Burgos</td>
</tr>
<tr>
<td>Pintuyan</td>
</tr>
<tr>
<td>Saint Bernard</td>
</tr>
<tr>
<td>San Francisco</td>
</tr>
<tr>
<td>San Juan</td>
</tr>
<tr>
<td>San Ricardo</td>
</tr>
<tr>
<td>Silago</td>
</tr>
<tr>
<td>Sogod</td>
</tr>
<tr>
<td>Tomas Oppus</td>
</tr>
</tbody>
</table>
</div>
</div>
<!--  END MAIN ACCORDION VISAYAS--> <button class="accordion4">MINDANAO</button>
<div class="panel4">
<!-- MINDANAO --> <!-- SOUTHERN LEYTE --> <button class="accordion4">SOUTHERN LEYTE</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Carmen</td>
</tr>
<tr>
<td>Jabonga</td>
</tr>
<tr>
<td>Kitcharao</td>
</tr>
<tr>
<td>Las Nieves</td>
</tr>
<tr>
<td>Magallanes</td>
</tr>
<tr>
<td>Remedios Romualdez</td>
</tr>
<tr>
<td>Santiago</td>
</tr>
<tr>
<td>Tubay</td>
</tr>
</tbody>
</table>
</div>
<!-- AGUSAN DEL SUR --> <button class="accordion4">AGUSAN DEL SUR</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Bayugan</td>
</tr>
<tr>
<td>Bunawan</td>
</tr>
<tr>
<td>Esperanza</td>
</tr>
<tr>
<td>La Paz</td>
</tr>
<tr>
<td>Loreto</td>
</tr>
<tr>
<td>Prosperidad</td>
</tr>
<tr>
<td>Rosario</td>
</tr>
<tr>
<td>San Francisco</td>
</tr>
<tr>
<td>San Luis</td>
</tr>
<tr>
<td>Sibagat</td>
</tr>
<tr>
<td>Santa Josefa</td>
</tr>
<tr>
<td>Talacogon</td>
</tr>
<tr>
<td>Trento</td>
</tr>
<tr>
<td>Veruela</td>
</tr>
</tbody>
</table>
</div>
<!-- BASILAN --> <button class="accordion4">BASILAN</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Isabela</td>
</tr>
<tr>
<td>Lamitan</td>
</tr>
<tr>
<td>Lantawan</td>
</tr>
<tr>
<td>Maluso</td>
</tr>
<tr>
<td>Sumisip</td>
</tr>
<tr>
<td>Tipo-Tipo</td>
</tr>
<tr>
<td>Tuburan</td>
</tr>
</tbody>
</table>
</div>
<!-- BUKIDNON --> <button class="accordion4">BUKIDNON</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Baungon</td>
</tr>
<tr>
<td>Cabanglasan</td>
</tr>
<tr>
<td>Damulog</td>
</tr>
<tr>
<td>Dangcagan</td>
</tr>
<tr>
<td>Don Carlos</td>
</tr>
<tr>
<td>Impasug-ong</td>
</tr>
<tr>
<td>Kadingalan</td>
</tr>
<tr>
<td>Kalilangan</td>
</tr>
<tr>
<td>Kibawe</td>
</tr>
<tr>
<td>Kitaotao</td>
</tr>
<tr>
<td>Lantapan</td>
</tr>
<tr>
<td>Libona</td>
</tr>
<tr>
<td>Malaybalay City</td>
</tr>
<tr>
<td>Malitbog</td>
</tr>
<tr>
<td>Manolo Fortich</td>
</tr>
<tr>
<td>Maramag</td>
</tr>
<tr>
<td>Pangantucan</td>
</tr>
<tr>
<td>Quezon</td>
</tr>
<tr>
<td>San Fernando</td>
</tr>
<tr>
<td>Sumilao / Kisolon</td>
</tr>
<tr>
<td>Talakag</td>
</tr>
<tr>
<td>Valencia City</td>
</tr>
</tbody>
</table>
</div>
<!-- CAMIGUIN ISLAND --> <button class="accordion4">CAMIGUIN ISLAND</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Catarman</td>
</tr>
<tr>
<td>Guinsiliban</td>
</tr>
<tr>
<td>Mahinog</td>
</tr>
<tr>
<td>Mambajao</td>
</tr>
<tr>
<td>Sagay</td>
</tr>
</tbody>
</table>
</div>
<!-- COMPOSTELA VALLEY --> <button class="accordion4">COMPOSTELA VALLEY</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Compostela</td>
</tr>
<tr>
<td>Laak</td>
</tr>
<tr>
<td>Mabini</td>
</tr>
<tr>
<td>Maco</td>
</tr>
<tr>
<td>Maragusan</td>
</tr>
<tr>
<td>Mawab</td>
</tr>
<tr>
<td>Monkayo</td>
</tr>
<tr>
<td>Montevista</td>
</tr>
<tr>
<td>Nabunturan</td>
</tr>
<tr>
<td>New Bataan</td>
</tr>
<tr>
<td>Pantukan</td>
</tr>
</tbody>
</table>
</div>
<!-- DAVAO DEL NORTE --> <button class="accordion4">DAVAO DEL NORTE</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Asuncion</td>
</tr>
<tr>
<td>Babak Samal Island</td>
</tr>
<tr>
<td>Braulio E.Dujali</td>
</tr>
<tr>
<td>Carmen</td>
</tr>
<tr>
<td>Kapalong</td>
</tr>
<tr>
<td>Kaputian Samal Island</td>
</tr>
<tr>
<td>New Corella</td>
</tr>
<tr>
<td>Panabo City</td>
</tr>
<tr>
<td>Samal Island</td>
</tr>
<tr>
<td>Santo Tomas</td>
</tr>
<tr>
<td>Tagum City</td>
</tr>
</tbody>
</table>
</div>
<!-- DAVAO DEL SUR --> <button class="accordion4">DAVAO DEL SUR</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Bansalan</td>
</tr>
<tr>
<td>Digos</td>
</tr>
<tr>
<td>Don Marcelino</td>
</tr>
<tr>
<td>Hagonoy</td>
</tr>
<tr>
<td>Jose Abad Santos</td>
</tr>
<tr>
<td>Kiblawan</td>
</tr>
<tr>
<td>Magsaysay</td>
</tr>
<tr>
<td>Malalag</td>
</tr>
<tr>
<td>Malita</td>
</tr>
<tr>
<td>Matanao</td>
</tr>
<tr>
<td>Padada</td>
</tr>
<tr>
<td>Santa Cruz</td>
</tr>
<tr>
<td>Santa Maria</td>
</tr>
<tr>
<td>Sulop</td>
</tr>
<tr>
<td>Sarangani Island</td>
</tr>
</tbody>
</table>
</div>
<!-- DAVAO ORIENTAL --> <button class="accordion4">DAVAO ORIENTAL</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Baganga</td>
</tr>
<tr>
<td>Banaybanay</td>
</tr>
<tr>
<td>Boston</td>
</tr>
<tr>
<td>Caraga</td>
</tr>
<tr>
<td>Cateel</td>
</tr>
<tr>
<td>Gov. Generoso</td>
</tr>
<tr>
<td>Lupon</td>
</tr>
<tr>
<td>Manay</td>
</tr>
<tr>
<td>Mati</td>
</tr>
<tr>
<td>San Isidro</td>
</tr>
<tr>
<td>Tarragona</td>
</tr>
</tbody>
</table>
</div>
<!-- LANAO DEL NORTE --> <button class="accordion4">LANAO DEL NORTE</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Bacolod</td>
</tr>
<tr>
<td>Baloi</td>
</tr>
<tr>
<td>Baroy</td>
</tr>
<tr>
<td>Iligan City</td>
</tr>
<tr>
<td>Kapatagan</td>
</tr>
<tr>
<td>Kauswagan</td>
</tr>
<tr>
<td>Kolambugan</td>
</tr>
<tr>
<td>Lala</td>
</tr>
<tr>
<td>Linamon</td>
</tr>
<tr>
<td>Maigo</td>
</tr>
<tr>
<td>Pantar</td>
</tr>
<tr>
<td>Tubod</td>
</tr>
<tr>
<td>Karomatan</td>
</tr>
<tr>
<td>Magsaysay</td>
</tr>
<tr>
<td>Matungao</td>
</tr>
<tr>
<td>Munai</td>
</tr>
<tr>
<td>Nunungan</td>
</tr>
<tr>
<td>Pantao Ragat</td>
</tr>
<tr>
<td>Poona Piagapo</td>
</tr>
<tr>
<td>Salvador</td>
</tr>
<tr>
<td>Sapad</td>
</tr>
<tr>
<td>Tagoloan</td>
</tr>
<tr>
<td>Tangkal</td>
</tr>
<tr>
<td>Sultan Nage Di Maporo</td>
</tr>
</tbody>
</table>
</div>
<!-- LANAO DEL SUR --> <button class="accordion4">LANAO DEL SUR</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Marawi City</td>
</tr>
<tr>
<td>Bacolod Grande</td>
</tr>
<tr>
<td>Balabagan</td>
</tr>
<tr>
<td>Balindong</td>
</tr>
<tr>
<td>Bayang</td>
</tr>
<tr>
<td>Binidayan</td>
</tr>
<tr>
<td>Bumbaran</td>
</tr>
<tr>
<td>Butig</td>
</tr>
<tr>
<td>Calanogas</td>
</tr>
<tr>
<td>Ganassi</td>
</tr>
<tr>
<td>Lumbatan</td>
</tr>
<tr>
<td>Lumbayanague</td>
</tr>
<tr>
<td>Macador Andong</td>
</tr>
<tr>
<td>Madalum</td>
</tr>
<tr>
<td>Madamba</td>
</tr>
<tr>
<td>Malabang</td>
</tr>
<tr>
<td>Maragong</td>
</tr>
<tr>
<td>Pagayawan</td>
</tr>
<tr>
<td>Pualas</td>
</tr>
<tr>
<td>Sultan Gumander</td>
</tr>
<tr>
<td>Tagoloan II</td>
</tr>
<tr>
<td>Tubaran</td>
</tr>
<tr>
<td>Tugaya</td>
</tr>
<tr>
<td>Buadiposo Buntong</td>
</tr>
<tr>
<td>Bubong</td>
</tr>
<tr>
<td>Kapai</td>
</tr>
<tr>
<td>Lumba Bayabao</td>
</tr>
<tr>
<td>Maguing</td>
</tr>
<tr>
<td>Marantao</td>
</tr>
<tr>
<td>Masiu</td>
</tr>
<tr>
<td>Mulondo</td>
</tr>
<tr>
<td>Piagapo</td>
</tr>
<tr>
<td>Poona Bayabao</td>
</tr>
<tr>
<td>Ramain Ditsaan</td>
</tr>
<tr>
<td>Saguiaran</td>
</tr>
<tr>
<td>Tamparan</td>
</tr>
<tr>
<td>Taraka</td>
</tr>
<tr>
<td>Wao</td>
</tr>
</tbody>
</table>
</div>
<!-- MAGUINDANAO --> <button class="accordion4">MAGUINDANAO</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Ampatuan</td>
</tr>
<tr>
<td>Barira</td>
</tr>
<tr>
<td>Buluan</td>
</tr>
<tr>
<td>Buldon</td>
</tr>
<tr>
<td>Datu Paglas</td>
</tr>
<tr>
<td>Datu Piang</td>
</tr>
<tr>
<td>Dinaig (Sinsuat)</td>
</tr>
<tr>
<td>Gen.S.K.Pendatun</td>
</tr>
<tr>
<td>Kabuntalan</td>
</tr>
<tr>
<td>Matanog</td>
</tr>
<tr>
<td>Pagalungan</td>
</tr>
<tr>
<td>Parang</td>
</tr>
<tr>
<td>Shariff Aguak</td>
</tr>
<tr>
<td>South Tupi</td>
</tr>
<tr>
<td>Shariff Kabunsu-an</td>
</tr>
<tr>
<td>Lambayong</td>
</tr>
<tr>
<td>Talayan</td>
</tr>
<tr>
<td>Upi</td>
</tr>
<tr>
<td>* MAGANOY</td>
</tr>
</tbody>
</table>
</div>
<!-- MISAMIS ORIENTAL --> <button class="accordion4">MISAMIS ORIENTAL</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Balingasag</td>
</tr>
<tr>
<td>Balingoan</td>
</tr>
<tr>
<td>Binuangan</td>
</tr>
<tr>
<td>Claveria</td>
</tr>
<tr>
<td>Gingoog City</td>
</tr>
<tr>
<td>Gitagum</td>
</tr>
<tr>
<td>Initao</td>
</tr>
<tr>
<td>Jasaan</td>
</tr>
<tr>
<td>Kinoguitan</td>
</tr>
<tr>
<td>Lagonglong</td>
</tr>
<tr>
<td>Libertad</td>
</tr>
<tr>
<td>Lugait</td>
</tr>
<tr>
<td>Magsaysay</td>
</tr>
<tr>
<td>Manticao</td>
</tr>
<tr>
<td>Medina</td>
</tr>
<tr>
<td>Naawan</td>
</tr>
<tr>
<td>Salay</td>
</tr>
<tr>
<td>Sugbongcogon</td>
</tr>
<tr>
<td>Talisayan</td>
</tr>
</tbody>
</table>
</div>
<!-- MISAMIS OCCIDENTAL--> <button class="accordion4">MISAMIS OCCIDENTAL</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Aloran</td>
</tr>
<tr>
<td>Balinagao</td>
</tr>
<tr>
<td>Bonifacio</td>
</tr>
<tr>
<td>Calamba</td>
</tr>
<tr>
<td>Clarin</td>
</tr>
<tr>
<td>Concepcion</td>
</tr>
<tr>
<td>DV Chongbian</td>
</tr>
<tr>
<td>Jimenez</td>
</tr>
<tr>
<td>Lopez Jaena</td>
</tr>
<tr>
<td>Oroquieta City</td>
</tr>
<tr>
<td>Ozamis City</td>
</tr>
<tr>
<td>Panaon</td>
</tr>
<tr>
<td>Plaridel</td>
</tr>
<tr>
<td>Sinacaban</td>
</tr>
<tr>
<td>Tambulig</td>
</tr>
<tr>
<td>Tangub City</td>
</tr>
<tr>
<td>Tudela</td>
</tr>
</tbody>
</table>
</div>
<!-- NORTH COTABATO--> <button class="accordion4">NORTH COTABATO</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Alamada</td>
</tr>
<tr>
<td>Aleosan</td>
</tr>
<tr>
<td>Antipas</td>
</tr>
<tr>
<td>Arakan</td>
</tr>
<tr>
<td>Banisilan</td>
</tr>
<tr>
<td>Carmen</td>
</tr>
<tr>
<td>Kabacan</td>
</tr>
<tr>
<td>Kidapawan</td>
</tr>
<tr>
<td>Libungan</td>
</tr>
<tr>
<td>Magpet</td>
</tr>
<tr>
<td>Makilala</td>
</tr>
<tr>
<td>Matalam</td>
</tr>
<tr>
<td>Midsayap</td>
</tr>
<tr>
<td>M'lang</td>
</tr>
<tr>
<td>Pigkawayan</td>
</tr>
<tr>
<td>Pikit</td>
</tr>
<tr>
<td>Pres. Roxas</td>
</tr>
<tr>
<td>Tulunan</td>
</tr>
</tbody>
</table>
</div>
<!-- SOUTH COTABATO--> <button class="accordion4">SOUTH COTABATO</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Banga</td>
</tr>
<tr>
<td>Norala</td>
</tr>
<tr>
<td>Santo Nino</td>
</tr>
<tr>
<td>Surallah</td>
</tr>
<tr>
<td>T'boli</td>
</tr>
<tr>
<td>Tampakan</td>
</tr>
<tr>
<td>Tantangan</td>
</tr>
<tr>
<td>Tupi</td>
</tr>
</tbody>
</table>
</div>
<!-- SARANGANI--> <button class="accordion4">SARANGANI</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Glan</td>
</tr>
<tr>
<td>Kiamba</td>
</tr>
<tr></tr>
<tr>
<td>Maasin</td>
</tr>
<tr>
<td>Maitum</td>
</tr>
<tr>
<td>Malapatan</td>
</tr>
<tr>
<td>Malungon</td>
</tr>
</tbody>
</table>
</div>
<!-- SURIGAO DEL NORTE--> <button class="accordion4">SURIGAO DEL NORTE</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Alegria</td>
</tr>
<tr>
<td>Bacuag</td>
</tr>
<tr>
<td>Basilisa Dinagat Island)</td>
</tr>
<tr>
<td>Burgos Siargao Island</td>
</tr>
<tr>
<td>Cagdianao Dinagat Island</td>
</tr>
<tr>
<td>Claver</td>
</tr>
<tr>
<td>Dapa Siargao Island</td>
</tr>
<tr>
<td>Del Carmen Siargao Island</td>
</tr>
<tr>
<td>Dinagat Dinagat Island</td>
</tr>
<tr>
<td>General Luna Siargao Island</td>
</tr>
<tr>
<td>Gigaguit</td>
</tr>
<tr>
<td>Libjo (Albor) Dinagat Island</td>
</tr>
<tr>
<td>Loreto Dinagat Island</td>
</tr>
<tr>
<td>Mainit</td>
</tr>
<tr>
<td>Malimono</td>
</tr>
<tr>
<td>Pilar Siargao Island</td>
</tr>
<tr>
<td>Placer</td>
</tr>
<tr>
<td>San Benito Siargao Island</td>
</tr>
<tr>
<td>San Francisco</td>
</tr>
<tr>
<td>San Isidro Siargao Island</td>
</tr>
<tr>
<td>San Jose Dinagat Island</td>
</tr>
<tr>
<td>Sta. Monica Siargao Island</td>
</tr>
<tr>
<td>Sison</td>
</tr>
<tr>
<td>Socorro Bucas Grande Island</td>
</tr>
<tr>
<td>Tagana-an</td>
</tr>
<tr>
<td>Tubajon Dinagat Island</td>
</tr>
<tr>
<td>Tubod</td>
</tr>
</tbody>
</table>
</div>
<!-- SURIGAO DEL SUR--> <button class="accordion4">SURIGAO DEL SUR</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Barobo</td>
</tr>
<tr>
<td>Bayabas</td>
</tr>
<tr>
<td>Bislig</td>
</tr>
<tr>
<td>Cagwait</td>
</tr>
<tr>
<td>Cantilan</td>
</tr>
<tr>
<td>Carmen</td>
</tr>
<tr>
<td>Carrascal</td>
</tr>
<tr>
<td>Cortes</td>
</tr>
<tr>
<td>Hinatuan</td>
</tr>
<tr>
<td>Lanuza</td>
</tr>
<tr>
<td>Lianga</td>
</tr>
<tr>
<td>Lingig</td>
</tr>
<tr>
<td>Madrid</td>
</tr>
<tr>
<td>Marihatag</td>
</tr>
<tr>
<td>San Agustin</td>
</tr>
<tr>
<td>San Miguel</td>
</tr>
<tr>
<td>Tagbina</td>
</tr>
<tr>
<td>Tago</td>
</tr>
<tr>
<td>Tandag</td>
</tr>
</tbody>
</table>
</div>
<!-- SULTAN KUDARAT--> <button class="accordion4">SULTAN KUDARAT</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Bagumbayan</td>
</tr>
<tr>
<td>Columbio</td>
</tr>
<tr>
<td>Esperanza</td>
</tr>
<tr>
<td>Isulan</td>
</tr>
<tr>
<td>Kalamansig</td>
</tr>
<tr>
<td>Lambayong</td>
</tr>
<tr>
<td>Lebak</td>
</tr>
<tr>
<td>Palimbang</td>
</tr>
<tr>
<td>President Quirino</td>
</tr>
<tr>
<td>Sen Ninoy Aquino</td>
</tr>
<tr>
<td>Tacurong</td>
</tr>
</tbody>
</table>
</div>
<!-- SULU PROVINCE--> <button class="accordion4">SULU PROVINCE</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Jolo</td>
</tr>
<tr>
<td>Indanan</td>
</tr>
<tr>
<td>Kalingalan Kaluang</td>
</tr>
<tr>
<td>Lugus</td>
</tr>
<tr>
<td>Luuk</td>
</tr>
<tr>
<td>Maimbung</td>
</tr>
<tr>
<td>Marungas</td>
</tr>
<tr>
<td>Panamao</td>
</tr>
<tr>
<td>Panglima Estino</td>
</tr>
<tr>
<td>Pangutaran</td>
</tr>
<tr>
<td>Parang</td>
</tr>
<tr>
<td>Pata</td>
</tr>
<tr>
<td>Patikul</td>
</tr>
<tr>
<td>Siasi</td>
</tr>
<tr>
<td>Talipao</td>
</tr>
<tr>
<td>Tapul</td>
</tr>
<tr>
<td>Tongkil</td>
</tr>
</tbody>
</table>
</div>
<!-- ZAMBOANGA DEL NORTE--> <button class="accordion4">ZAMBOANGA DEL NORTE</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Bacungan</td>
</tr>
<tr>
<td>Baliguian</td>
</tr>
<tr>
<td>Godod</td>
</tr>
<tr>
<td>Gutalac</td>
</tr>
<tr>
<td>Jose Dalman</td>
</tr>
<tr>
<td>Kalawit</td>
</tr>
<tr>
<td>La Libertad</td>
</tr>
<tr>
<td>Labason</td>
</tr>
<tr>
<td>Liloy</td>
</tr>
<tr>
<td>Manukan</td>
</tr>
<tr>
<td>Mutia</td>
</tr>
<tr>
<td>Rizal</td>
</tr>
<tr>
<td>Salug</td>
</tr>
<tr>
<td>Sergio Osmena Sr.</td>
</tr>
<tr>
<td>Siayan</td>
</tr>
<tr>
<td>Sibuco</td>
</tr>
<tr>
<td>Sindangan</td>
</tr>
<tr>
<td>Siocon</td>
</tr>
<tr>
<td>Sirawai</td>
</tr>
<tr>
<td>Tampilisan</td>
</tr>
</tbody>
</table>
</div>
<!-- ZAMBOANGA DS (ZDS) & ZAMBOANGA SIBUGAY--> <button class="accordion4">ZAMBOANGA DS (ZDS) &amp; ZAMBOANGA SIBUGAY</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Alicia</td>
</tr>
<tr>
<td>Aurora</td>
</tr>
<tr>
<td>Bayog</td>
</tr>
<tr>
<td>Buug</td>
</tr>
<tr>
<td>Dimataling</td>
</tr>
<tr>
<td>Dinas</td>
</tr>
<tr>
<td>Diplahan</td>
</tr>
<tr>
<td>Don M Marcos</td>
</tr>
<tr>
<td>Dumalinao</td>
</tr>
<tr>
<td>Dumingag</td>
</tr>
<tr>
<td>Guipos</td>
</tr>
<tr>
<td>Imelda</td>
</tr>
<tr>
<td>Ipil</td>
</tr>
<tr>
<td>Josefina</td>
</tr>
<tr>
<td>Kabasalan</td>
</tr>
<tr>
<td>Kumalarang</td>
</tr>
<tr>
<td>Labangan</td>
</tr>
<tr>
<td>Lakewood</td>
</tr>
<tr>
<td>Lapuyan</td>
</tr>
<tr>
<td>Mabuhay</td>
</tr>
<tr>
<td>Mahayag</td>
</tr>
<tr>
<td>Margosatubig</td>
</tr>
<tr>
<td>Midsalip</td>
</tr>
<tr>
<td>Molave</td>
</tr>
<tr>
<td>Naga</td>
</tr>
<tr>
<td>Olutanga</td>
</tr>
<tr>
<td>Pagadian City</td>
</tr>
<tr>
<td>Pitogo</td>
</tr>
<tr>
<td>Ramon Magsaysay</td>
</tr>
<tr>
<td>Roseller Lim</td>
</tr>
<tr>
<td>San Miguel</td>
</tr>
<tr>
<td>San Pablo</td>
</tr>
<tr>
<td>Siay</td>
</tr>
<tr>
<td>Tabina</td>
</tr>
<tr>
<td>Tambulig</td>
</tr>
<tr>
<td>Talusan</td>
</tr>
<tr>
<td>Tigbao</td>
</tr>
<tr>
<td>Titay</td>
</tr>
<tr>
<td>Tukuran</td>
</tr>
<tr>
<td>Vincenzo Sagun</td>
</tr>
<tr>
<td>SUMINOT</td>
</tr>
</tbody>
</table>
</div>
<!-- TAWI-TAWI--> <button class="accordion4">TAWI-TAWI</button>
<div class="panel4">
<table>
<tbody>
<tr>
<td>Bongao</td>
</tr>
<tr>
<td>Cagayan de Tawi tawi</td>
</tr>
<tr>
<td>Languyan</td>
</tr>
<tr>
<td>Sapa-Sapa</td>
</tr>
<tr>
<td>Simunol</td>
</tr>
<tr>
<td>South Unian</td>
</tr>
<tr>
<td>Taganak (Turtle Island)</td>
</tr>
<tr>
<td>Tandudas</td>
</tr>
<tr>
<td>SAGALA</td>
</tr>
</tbody>
</table>
</div>
</div>
<strong>Disclaimer:</strong><br>Items that are for free shipping NATIONWIDE are only allowed to be purchased within the Philippines. For items that can be shipped abroad, please check our International Promo (<a href="/collections/international">https://www.platinumkaraoke.com/collections/international</a>) <!-- END MINDANAO --><script>// <![CDATA[
var acc = document.getElementsByClassName("accordion4");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel4 = this.nextElementSibling;
        if (panel4.style.display === "block") {
            panel4.style.display = "none";
        } else {
            panel4.style.display = "block";
        }
    });
}
// ]]></script></div></div>
</div><div id="divContentBk"></div>