<div class="gryffeditor">
<div data-label="Text Block"> <div class="elm text-edit"><style><!--
.page {
    padding: 5px 20px 40px;
    background: #fff;
}

.accordion4 {
    background: #000;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: solid 1px #000;
    text-align: center;
    outline: none;
    font-size: 13px;
    transition: 0.4s;
    margin: 4px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}


.panel4 {
    
    display: block;  
   
    overflow: hidden;
    font-size: 12px;
      margin: 4px;
      padding:5px;
     width: 100%;
}

/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  width: 100%; 
  border-collapse: collapse; 
border:solid gray 1px;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: whitesmoke; 
  border:solid gray 1px;
}
th { 
     background-color: #4CAF50;
  color: white; 
  font-weight: bold;


}
td, th { 
  padding-left: 6px; 
  
  
   font-size: 12px;
}


/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  tr { border: 1px solid #ccc; }
  
  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 

  }
  
  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
     text-align: center; 
  }
  
  /*
  Label the data
  */
  td:nth-of-type(1):before { content: "Song Update"; }
  td:nth-of-type(2):before { content: "Download"; }
--></style>
<!-- X3 SONG UPDATE --> <button class="accordion4">X3 SONG UPDATE</button>
<div class="panel4">
<table>
<thead></thead>
<tbody>

<!-- SEPTEMBER X3 UPDATE -->
<tr>
<td>2019 September X3</td>
<td><center><a href="http://www.mediafire.com/file/jj2ua5afu16lo5r/X-3_09-2019.zip/file"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center></td>
</tr>

<!-- AUGUST X3 UPDATE -->
<tr>
<td>2019 August X3</td>
<td><center><a href="http://www.mediafire.com/file/1eeepsyplv7buji/X-3_08-2019.zip/file"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center></td>
</tr>
<tr>
<!-- JULY X3 UPDATE -->
<td>2019 July X3</td>
<td><center><a href="http://www.mediafire.com/file/5wm080zgy6ntw6w/X-3_07-2019.zip/file"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center></td>
</tr>
<tr>
<!-- JUNE X3 UPDATE -->
<td>2019 June X3</td>
<td><center><a href="http://www.mediafire.com/file/d4b4v2abfxicvfa/X-3_06-2019.zip/file"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center></td>
</tr>
<tr>
<!-- MAY X3 UPDATE -->
<td>2019 May X3</td>
<td><center><a href="https://www.mediafire.com/file/khs0jsnsxgjjgkr/X-3_05-2019.zip/file"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center></td>
</tr>
<!-- APRIL X3 UPDATE -->
<tr>
<td>2019 April X3</td>
<td><center><a href="http://www.mediafire.com/file/un8ho3tprupax8b/X-3_04-2019.zip/file"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center></td>
</tr>
<!-- MARCH X3 UPDATE -->
<tr>
<td>2019 March X3</td>
<td><center><a href="http://www.mediafire.com/file/322l4a4o792x6xw/X-3_03-2019.zip/file"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center></td>
</tr>
<!-- FEBRUARY X3 UPDATE -->
<tr>
<td>2019 February X3</td>
<td><center><a href="http://www.mediafire.com/file/ay66pr8dlea7d8u/X-3_02-2019.zip/file"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center></td>
</tr>
<!-- JANUARY X3 UPDATE -->
<tr>
<td>2019 January X3</td>
<td><center><a href="http://www.mediafire.com/file/816ddduw7t63yps/X-3_01-2019.zip/file"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center></td>
</tr>
<!-- DECEMBER X3 UPDATE -->
<tr>
<td>2018 December X3</td>
<td><center><a href="http://www.mediafire.com/file/40t01a8h5a0yf3u/X-3_12-2018%25282%2529.zip/file"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center></td>
</tr>
<!-- NOVEMBER X3 UPDATE -->
<tr>
<td>2018 November X3</td>
<td><center><a href="http://www.mediafire.com/file/0m792p3044taycg/X-3_11-2018.zip/file"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center></td>
</tr>
<!-- END --> <!-- OCTOBER X3 UPDATE -->
<tr>
<td>2018 October X3</td>
<td><center><a href="http://www.mediafire.com/file/89kf9r4upoyf7zr/X-3_10-2018.zip/file"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center></td>
</tr>
<!-- END -->
<tr>
<td>2018 September X3</td>
<td><center><a href="http://www.mediafire.com/file/t8ubq6bi3pr259f/X-3_09-2018.zip/file"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center></td>
</tr>
<tr>
<td>2018 August X3</td>
<td><center><a href="http://www.mediafire.com/file/i3h5xck32agby3a/X-3_08-2018.zip/file"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center></td>
</tr>
<tr>
<td>2018 July X3</td>
<td><center><a href="http://www.mediafire.com/file/70bx7v3l54monpt/X-3_07-2018.zip/file"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center></td>
</tr>
<tr>
<td>2018 June X3</td>
<td><center><a href="http://www.mediafire.com/file/smst4kuc3nev6r6/X-3_06-2018.zip/file"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center></td>
</tr>
<tr>
<td>2018 May X3</td>
<td><center><a href="http://www.mediafire.com/file/57qgjvd8zln1hvh/X-3_05-2018_%282%29.zip"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center></td>
</tr>
<tr>
<td>2018 April X3</td>
<td><center><a href="http://www.mediafire.com/file/lgkgrq92o9loq19/X-3_04-2018.zip"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center></td>
</tr>
<tr>
<td>2018 March X3</td>
<td><center><a href="http://www.mediafire.com/file/2b7cmv856k6vzm2/MARCH_2018.zip"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center></td>
</tr>
<tr>
<td>2018 February X3</td>
<td><center><a href="http://www.mediafire.com/file/073cr3b7xctbstg/X3_02-2018.zip"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center></td>
</tr>
<tr>
<td>2018 January X3</td>
<td><center><a href="http://www.mediafire.com/file/0dzkchnsfncz8w0/X-3_01-2018.zip"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center></td>
</tr>
<tr>
<td>2017 October X3</td>
<td><center><a href="http://www.mediafire.com/file/256875af45fwxxv/X3_OCT_2017.zip"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center></td>
</tr>
<tr>
<td>2017 November X3</td>
<td><center><a href="http://www.mediafire.com/file/rcqqg7q1ieef373/X3_NOV_2017.zip"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center></td>
</tr>
<tr>
<td>2017 December X3</td>
<td><center><a href="http://www.mediafire.com/file/uyt322w5dycncoc/X3_DEC_2017.zip"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center></td>
</tr>
</tbody>
</table>
</div>
<script>// <![CDATA[
var acc = document.getElementsByClassName("accordion4");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel4 = this.nextElementSibling;
        if (panel4.style.display === "none") {
            panel4.style.display = "block";
        } else {
            panel4.style.display = "none";
        }
    });
}
// ]]></script></div></div>
</div><div id="divContentBk"></div>