<div class="gryffeditor">
<div data-label="Text Block"> <div class="elm text-edit"><style><!--
.page {
    padding: 5px 20px 40px;
    background: #fff;
}

.accordion4 {
    background: #000;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: solid 1px #000;
    text-align: center;
    outline: none;
    font-size: 13px;
    transition: 0.4s;
    margin: 4px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}


.panel4 {
    
    display: block;  
   
    overflow: hidden;
    font-size: 12px;
      margin: 4px;
      padding:5px;
     width: 100%;
}

/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  width: 100%; 
  border-collapse: collapse; 
border:solid gray 1px;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: whitesmoke; 
  border:solid gray 1px;
}
th { 
     background-color: #4CAF50;
  color: white; 
  font-weight: bold;


}
td, th { 
  padding-left: 6px; 
  
  
   font-size: 12px;
}


/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  tr { border: 1px solid #ccc; }
  
  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 

  }
  
  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
     text-align: center; 
  }
  
  /*
  Label the data
  */
  td:nth-of-type(1):before { content: "Song Update"; }
  td:nth-of-type(2):before { content: "Download"; }
--></style><!-- ALPHA SONG UPDATE --> <button class="accordion4">ALPHA SONG UPDATE</button>
<div class="panel4">
<table>
<thead>
<tr></tr>
</thead>
<tbody>
<!-- MARCH UPDATE -->
<tr>
<td>2019 March Alpha</td>
<td>
<center><a href="http://www.mediafire.com/file/p40wkv2mbc9eubz/Alpha_03-2019.zip/file"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<!-- FEBRUARY UPDATE -->
<tr>
<td>2019 February Alpha</td>
<td>
<center><a href="http://www.mediafire.com/file/awy555973za7211/Alpha_02-2019.zip/file"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<!-- JANUARY UPDATE -->
<tr>
<td>2019 January Alpha</td>
<td>
<center><a href="http://www.mediafire.com/file/6vspt4la661h6ui/Alpha_01-2019.zip/file"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<!-- DECEMBER UPDATE -->
<tr>
<td>2018 December Alpha</td>
<td>
<center><a href="http://www.mediafire.com/file/a0ax68p1b0jg2as/Alpha_12-2018.zip/file"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<!-- NOVEMBER UPDATE -->
<tr>
<td>2018 November Alpha</td>
<td>
<center><a href="http://www.mediafire.com/file/mur58ecj6xqj1cr/Alpha_11-2018.zip/file"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<!-- END --> <!-- OCTOBER UPDATE -->
<tr>
<td>2018 October Alpha</td>
<td>
<center><a href="http://www.mediafire.com/file/q8em24df4xxna40/Alpha_10-2018.zip/file"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<!-- END -->
<tr>
<td>2018 September Alpha</td>
<td>
<center><a href="http://www.mediafire.com/file/7rf246hhb7286zb/Alpha_09-2018.zip/file"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<tr>
<td>2018 August Alpha</td>
<td>
<center><a href="http://www.mediafire.com/file/ss2im3punkl5q5q/Alpha_08-2018.zip/file"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<tr>
<td>2018 July Alpha</td>
<td>
<center><a href="http://www.mediafire.com/file/nu7a2gng2twe6bh/Alpha_07-2018.zip/file"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<tr>
<td>2018 June Alpha</td>
<td>
<center><a href="http://www.mediafire.com/file/8ft5z2kk5fo3plk/Alpha_06-2018.zip/file"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<tr>
<td>2018 May Alpha</td>
<td>
<center><a href="http://www.mediafire.com/file/na9wdm92ahme2qf/Alpha_05-2018.zip"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<tr>
<td>2018 April Alpha</td>
<td>
<center><a href="http://www.mediafire.com/file/qk8897p29bjv99u/Alpha_04-2018.zip"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<tr>
<td>2018 March Alpha</td>
<td>
<center><a href="http://www.mediafire.com/file/1dy7ryut015wcw1/2018_March_Alpha.zip"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<tr>
<td>2018 February Alpha </td>
<td>
<center><a href="http://www.mediafire.com/file/60aajbj5snufd8e/Alpha_02-2018.zip"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<tr>
<td>2018 January Alpha</td>
<td>
<center><a href="http://www.mediafire.com/file/uudou22a71dh5qu/Alpha_01-2018.zip"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<tr>
<td>2017 December ALpha </td>
<td>
<center><a href="http://www.mediafire.com/file/ez0086zacznqjus/ALPHA_DEC_2017.zip"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<tr>
<td>2017 November Alpha </td>
<td>
<center><a href="http://www.mediafire.com/file/mq36dq01mb8d2l5/2017_November_Alpha.zip"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<tr>
<td>2017 October Alpha </td>
<td>
<center><a href="http://www.mediafire.com/file/9ha615g55vig144/2017_October_Alpha.zip"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<tr>
<td>2017 September Alpha </td>
<td>
<center><a href="http://www.mediafire.com/file/5a4e630mrqhu8lq/2017_September_Alpha.zip"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<tr>
<td>2017 August Alpha </td>
<td>
<center><a href="http://www.mediafire.com/file/38hyaae7n6dkkfy/2017_August_Alpha.zip"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<tr>
<td>2017 July Alpha </td>
<td>
<center><a href="http://www.mediafire.com/file/xw5bllm4atl05d8/2017_July_Alpha.zip"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<tr>
<td>2017 June Alpha </td>
<td>
<center><a href="http://www.mediafire.com/file/fci4cvlnu4eydqt/2017_June_Alpha.zip"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<tr>
<td>2017 May Alpha </td>
<td>
<center><a href="http://www.mediafire.com/file/kwada3s3s3jom1u/2017_May_Alpha.zip"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<tr>
<td>2017 April Alpha </td>
<td>
<center><a href="http://www.mediafire.com/file/xvlnvb5yjiqp25e/2017_April_Alpha.zip"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<tr>
<td>2017 March Alpha </td>
<td>
<center><a href="http://www.mediafire.com/file/qaedqib95trjuee/2017_March_Alpha.zip"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<tr>
<td>2017 February Alpha </td>
<td>
<center><a href="http://www.mediafire.com/file/eu88ugj1ct16a0q/2017_February_Alpha.zip"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<tr>
<td>2017 January Alpha </td>
<td>
<center><a href="http://www.mediafire.com/file/k9l4h2a5qot25sk/2017_January_Alpha.rar"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<tr>
<td>2016 December Alpha </td>
<td>
<center><a href="http://www.mediafire.com/file/brx02q9b9msss95/2016_December_Alpha.rar"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<tr>
<td>2016 November Alpha </td>
<td>
<center><a href="http://www.mediafire.com/file/opq5l8xjn7hdut8/2016_November_Alpha.rar"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<tr>
<td>2016 October Alpha </td>
<td>
<center><a href="http://www.mediafire.com/file/96umzhpyqvqc6ea/2016_October_Alpha.rar"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<tr>
<td>2016 September Alpha </td>
<td>
<center><a href="http://www.mediafire.com/file/3bwj8qvp2nmxrgg/2016_September_Alpha.rar"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
<tr>
<td>2016 August Alpha </td>
<td>
<center><a href="http://www.mediafire.com/file/6r38dproyskdgqd/2016_August_Alpha.rar"><img src="https://cdn.shopify.com/s/files/1/2581/7224/files/zip-6.png?2449845585766634820" alt="" width="33" height="28"></a></center>
</td>
</tr>
</tbody>
</table>
</div>
<script>// <![CDATA[
var acc = document.getElementsByClassName("accordion4");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel4 = this.nextElementSibling;
        if (panel4.style.display === "none") {
            panel4.style.display = "block";
        } else {
            panel4.style.display = "none";
        }
    });
}
// ]]></script></div></div>
</div><div id="divContentBk"></div>