{% include 'elspw_product' %}
{% include 'shogun-products', content: product %}
{{product.metafields.shogun.above}}
 
{% include 'hypervisual' %}
{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template' %}


  

  


<!-- 
 <div class="index-section--flush powr-popup" id="72d11fe8_1540521681"></div>  -->


 {{product.metafields.shogun.below}} 
